<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.intellectPartition.PartitionSchemeMapper">

 <select id="queryTotalSchemeDet" parameterType="com.koron.inwlms.bean.DTO.intellectPartition.TotalSchemeDetDTO" resultType="com.koron.inwlms.bean.VO.intellectPartition.TotalSchemeDet">
 select * from app_totalschemedet where "createTime" between '${startTime}' and '${endTime}'
 <if test="code != null and code != '' "> and code like '%'||#{code}||'%'</if>
 <if test="zoneCode != null and zoneCode != '' "> and "zoneCode" = #{zoneCode}</if>
 <if test="createBy != null and createBy != '' "> and "createBy" = #{createBy}</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryTotalSchemeDetNum" parameterType="com.koron.inwlms.bean.DTO.intellectPartition.TotalSchemeDetDTO" resultType="java.lang.Integer">
 select count(*) from app_totalschemedet where "createTime" between '${startTime}' and '${endTime}'
 <if test="code != null and code != '' "> and code like '%'||#{code}||'%'</if>
 <if test="zoneCode != null and zoneCode != '' "> and "zoneCode" = #{zoneCode}</if>
 <if test="createBy != null and createBy != '' "> and "createBy" = #{createBy}</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="addTotalSchemeDet" parameterType="com.koron.inwlms.bean.VO.intellectPartition.TotalSchemeDet" resultType="java.lang.String">
 insert into app_totalschemedet(code, "zoneType", "maxZone", "minZone", "ambientLayer", "flowLayer", "zoneGrade", "zoneCode", "createBy", "createTime", "updateBy", "updateTime", state)
 values(concat('ZP_',nextval('zp_'::regclass)), #{zoneType}, #{maxZone}, #{minZone}, #{ambientLayer}, #{flowLayer}, #{zoneGrade}, #{zoneCode}, #{createBy}, Now(), #{updateBy}, Now(), #{state}) returning code
 </select>
 
 <delete id="deleteTotalSchemeDet" parameterType="java.lang.String">
 delete from app_totalschemedet where code in
 <foreach item="code" collection="list" open="(" separator="," close=")">
 #{code}
 </foreach>
 </delete>
 
 <select id="querySchemeDet" parameterType="com.koron.inwlms.bean.DTO.intellectPartition.TotalSchemeDetDTO" resultType="com.koron.inwlms.bean.VO.intellectPartition.SchemeDet">
 select * from app_schemedet where "totalSchemeCode" = #{code}
 <if test="subId != null"> and cast(id as varchar(10)) like '%'||#{subId}||'%'</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="querySchemeDetNum" parameterType="com.koron.inwlms.bean.DTO.intellectPartition.TotalSchemeDetDTO" resultType="java.lang.Integer">
 select count(*) from app_schemedet where "totalSchemeCode" = #{code}
 <if test="subId != null"> and cast(id as varchar(10)) like '%'||#{subId}||'%'</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <delete id="deleteSchemeDet" parameterType="java.lang.String">
 delete from app_schemedet where "totalSchemeCode" in
 <foreach item="codeitem" collection="list" open="(" separator="," close=")">
 #{codeitem}
 </foreach>
 </delete>
 
 
 <update id="updateTotalSchemeDet" parameterType="java.lang.String">
 update app_totalschemedet set state = 1 where code in
 <foreach item="codeitem" collection="list" open="(" separator="," close=")">
 #{codeitem}
 </foreach>
 </update>

 <update id="updateSchemeDet" parameterType="java.lang.Integer">
 update app_schemedet set state = 1 where id in
 <foreach item="iditem" collection="list" open="(" separator="," close=")">
 #{iditem}
 </foreach>
 </update>
 
 <select id="addSchemeDet" parameterType="com.koron.inwlms.bean.VO.intellectPartition.SchemeDet" resultType="java.lang.Integer">
 insert into app_schemedet("totalSchemeCode", "regionNum", ecomony, tightness, "flowNum", state, "createBy", "createTime", "updateBy", "updateTime", "isEnd")
 values(#{totalSchemeCode}, #{regionNum}, #{ecomony}, #{tightness}, #{flowNum}, #{state}, #{createBy}, Now(), #{updateBy}, Now(), #{isEnd}) returning id
 </select>
 
 <insert id="addPreZone" parameterType="com.koron.inwlms.bean.DTO.intellectPartition.PreZoneRelationDTO">
 insert into gis_prezone("zoneSchemeId", "rCode")
 values(#{zoneSchemeId}, #{rCode})
 </insert>
 
 <insert id="addPipePreZone" parameterType="java.util.List">
 insert into gis_pipe_prezone("rCode", "pipeCode", "isBorder", "createBy", "createTime", "updateBy", "updateTime") values
 <foreach collection="list" item="pipe"  index="index" separator=",">
			(#{pipe.rCode}, #{pipe.pipeCode}, #{pipe.isBorder}, #{pipe.createBy}, Now(), #{pipe.updateBy},Now())
		</foreach>
 </insert>
 
 <delete id="deleteSchemeDetByCode" parameterType="java.lang.Integer">
 delete from app_schemedet where id in
 <foreach item="iditem" collection="list" open="(" separator="," close=")">
 #{iditem}
 </foreach>
 </delete>
 

</mapper>