<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.sysManager.LogMapper">
 
    <select id="queryLoginLog" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryLoginLogDTO" resultType="com.koron.inwlms.bean.VO.sysManager.LoginLogVO">
	select "user".name,"user".position,"loginLog".result,"loginLog"."loginTime" ,"loginLog"."errorLog"
	from "SM_loginLog" as "loginLog"
	left join "SM_user" as "user" on "user".code = "loginLog"."loginUserCode"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "user".name like '%'||#{name}||'%'</if>  
   	    <if test="startTime != null  "> and  to_char("loginLog"."loginTime",'YYYY-MM-dd') &gt;= #{startTime}</if>
   	    <if test="endTime != null   "> and  to_char("loginLog"."loginTime",'YYYY-MM-dd')  &lt;= #{endTime}</if> 
   	    <if test="type != null  and type !='' "> and "loginLog".type = #{type}</if>          
	</trim>
	order by "loginLog"."createTime" desc
	limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
    </select>
    
    <select id="getLoginLogCount" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryLoginLogDTO" resultType="java.lang.Integer">
	select count(*)
	from "SM_loginLog" as "loginLog"
	left join "SM_user" as "user" on "user".code = "loginLog"."loginUserCode"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "user".name like '%'||#{name}||'%'</if>  
   	    <if test="startTime != null  "> and  to_char("loginLog"."loginTime",'YYYY-MM-dd') &gt;= #{startTime}</if>
   	    <if test="endTime != null   "> and  to_char("loginLog"."loginTime",'YYYY-MM-dd')  &lt;= #{endTime}</if> 
   	    <if test="type != null  and type !='' "> and "loginLog".type = #{type}</if>          
	</trim>
    </select>
    
    <insert id="addLoginLog" parameterType="com.koron.inwlms.bean.DTO.sysManager.LoginLogDTO">  
        insert into "SM_loginLog"("loginUserCode",result,"loginIp","errorLog","loginTime","createBy","createTime","updateBy","updateTime",type)
 		values(#{loginUserCode},#{result},#{loginIp},#{errorLog},now(),#{createBy},now(),#{updateBy},now(),#{type})
    </insert>
    
    
    
    <select id="queryOperateLog" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryOperateLogDTO" resultType="com.koron.inwlms.bean.VO.sysManager.OperateLogVO">
	select "moduleMenu"."moduleName","operateLog"."operateType","operateLog"."operateTime","user"."name","operateLog"."result"
	from "SM_operateLog" as "operateLog"
	left join "SM_moduleMenu" as "moduleMenu" on "moduleMenu"."moduleNo" = "operateLog"."operateModuleNo"
	left join "SM_user" as "user" on "user".code = "operateLog"."operateUserCode"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "user"."name" like '%'||#{name}||'%'</if>  
   	    <if test="startTime != null  "> and  to_char("operateLog"."operateTime",'YYYY-MM-dd') &gt;= #{startTime}</if>
   	    <if test="endTime != null   "> and  to_char("operateLog"."operateTime",'YYYY-MM-dd')  &lt;= #{endTime}</if> 
   	    <if test="operateType != null   "> and "operateLog"."operateType" = #{operateType}</if>         
	</trim>
	order by "operateLog"."createTime" desc
	limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
    </select>
    
    <select id="getOperateLogCount" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryOperateLogDTO" resultType="java.lang.Integer">
	select count(*)
	from "SM_operateLog" as "operateLog"
	left join "SM_moduleMenu" as "moduleMenu" on "moduleMenu"."moduleNo" = "operateLog"."operateModuleNo"
	left join "SM_user" as "user" on "user".code = "operateLog"."operateUserCode"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "user"."name" like '%'||#{name}||'%'</if>  
   	    <if test="startTime != null  "> and  to_char("operateLog"."operateTime",'YYYY-MM-dd') &gt;= #{startTime}</if>
   	    <if test="endTime != null   "> and  to_char("operateLog"."operateTime",'YYYY-MM-dd')  &lt;= #{endTime}</if> 
   	    <if test="operateType != null   "> and "operateLog"."operateType" = #{operateType}</if>         
	</trim>
    </select>
    
    <insert id="addOperateLog" parameterType="com.koron.inwlms.bean.DTO.sysManager.OperateLogDTO">  
 		insert into "SM_operateLog"("operateType","operateModuleNo","operateTime","operateUserCode",result,"createBy","createTime","updateBy","updateTime")
 		values(#{operateType},#{operateModuleNo},now(),#{operateUserCode},#{result},#{createBy},now(),#{updateBy},now())
    </insert>
    
    
    
    <select id="queryIntegrationLog" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryIntegrationLogDTO" resultType="com.koron.inwlms.bean.VO.sysManager.IntegrationLogVO">
	select "integrationLog"."jobName","integrationLog"."startDate","integrationLog"."endDate","integrationLog".status
	from "SM_integrationLog" as "integrationLog"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="jobName != null  and jobName !='' "> and "integrationLog"."jobName" like '%'||#{jobName}||'%'</if>  
   	    <if test="status != null and status !=''   "> and "integrationLog".status = #{status}</if>         
   	    <if test="startDate != null  "> and  to_char("integrationLog"."startDate",'YYYY-MM-dd') &gt;= #{startDate}</if>
   	    <if test="endDate != null   "> and  to_char("integrationLog"."endDate",'YYYY-MM-dd')  &lt;= #{endDate}</if> 
	</trim>
	order by "integrationLog"."createTime" desc
	limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
    </select>
    
    <select id="getIntegrationLogCount" parameterType="com.koron.inwlms.bean.DTO.sysManager.QueryIntegrationLogDTO" resultType="java.lang.Integer">
	select count(*)
	from "SM_integrationLog" as "integrationLog"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="jobName != null  and jobName !='' "> and "integrationLog"."jobName" like '%'||#{jobName}||'%'</if>  
   	    <if test="status != null and status !=''   "> and "integrationLog".status = #{status}</if>         
   	    <if test="startDate != null  "> and  to_char("integrationLog"."startDate",'YYYY-MM-dd') &gt;= #{startDate}</if>
   	    <if test="endDate != null   "> and  to_char("integrationLog"."endDate",'YYYY-MM-dd')  &lt;= #{endDate}</if> 
	</trim>
    </select>
    
</mapper>