<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.sysManager.PositionMapper">


	<select id="queryPosition" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO" resultType="com.koron.inwlms.bean.VO.sysManager.PositionVO">
	select *
	from sm_position as "position"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "position".name like '%'||#{name}||'%' </if>
		<if test="status != null  and status !='' ">and "position".status = #{status} </if>           
	</trim>
	order by "position"."createTime" desc
	limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
    </select>

	<select id="getPositionCount" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO" resultType="java.lang.Integer">
	select count(*)
	from sm_position as "position"
	<trim prefix="where" prefixOverrides="and|or">
		<if test="name != null  and name !='' "> and "position".name like '%'||#{name}||'%'</if>         
	</trim>
    </select>

	<select id="queryPositionDetail" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO" resultType="com.koron.inwlms.bean.VO.sysManager.PositionVO">
	select *
	from sm_position as "position"
	where "position".code = #{code}
    </select>
    
    <update id="deletePosition" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO">
		update sm_position 
		set status = 'L102130002'
		where code = #{code}
	</update>
    
    <select id="queryPositionByCode" resultType="com.koron.inwlms.bean.VO.sysManager.PositionVO">
    select *
	from sm_position as "position"
	where "position".code = #{code}
    </select>
    
    <select id="queryPositionById" resultType="com.koron.inwlms.bean.VO.sysManager.PositionVO">
    select *
	from sm_position as "position"
	where "position".id = #{id}
    </select>
    
    <insert id="addPosition" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO">
    insert into sm_position(code,status,weight,name,level,"createBy","createTime","updateBy","updateTime")
    values(#{code},#{status},#{weight},#{name},#{level},#{createBy},now(),#{updateBy},now())
    </insert>
    
    <update id="updatePosition" parameterType="com.koron.inwlms.bean.DTO.sysManager.PositionDTO">
		update sm_position
		<set>  
   	  	 	<if test="status != null  and status !='' ">status = #{status} ,</if>  
   	  	 	<if test="weight != null  and weight !='' "> "weight" = #{weight} ,</if>  
   	  		<if test="name != null  and name !='' "> name = #{name} ,</if>
   	  		<if test="level != null  and level !='' "> level = #{level}, </if>   
   	 	   	"updateBy" = #{updateBy},
   	 	   	"updateTime" = now()
		</set>
		where code = #{code}
	</update>
</mapper>