<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.zoneLoss.ZoneLossAnaMapper">
	<select id="queryIndicLevel2Info" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.zoneLoss.IndicatorInfo">
		select code,name,level2 from lc_app_dim_indicator where code = #{code};
	</select>
	
	<select id="queryBurstLeakAnalysis" resultType="com.koron.inwlms.bean.VO.zoneLoss.BurstLeakAnalysisVO">
		select "LEAKCOND" as faultType,"YEAR_PIPE" as mainAge,"LEAK_ID" as mainBurstId,"DIAMETER" as mainDiameter,
		"DEALRESULT" as processingStatus,"COORDINATE" as xy
		from gis_leak;
	</select>
	
	<select id="queryBurstLeakById" resultType="com.koron.inwlms.bean.VO.zoneLoss.LeakDetailsVO">
		select * from gis_leak where "LEAK_ID" = #{id}
	</select>
	
</mapper>