<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.zoneLoss.ZoneLossAnaMapper">
	<select id="queryIndicLevel2Info" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.zoneLoss.IndicatorInfo">
		select code,name,level2 from lc_app_dim_indicator where code = #{code};
	</select>
	
	<select id="queryBurstLeakAnalysis" resultType="com.koron.inwlms.bean.VO.zoneLoss.BurstLeakAnalysisVO">
		select "LEAKCOND" as faultType,"YEAR_PIPE" as mainAge,"LEAK_ID" as mainBurstId,"DIAMETER" as mainDiameter,
		"DEALRESULT" as processingStatus,"COORDINATE" as xy
		from gis_leak;
	</select>
	
	<select id="queryBurstLeakById" resultType="com.koron.inwlms.bean.VO.zoneLoss.LeakDetailsVO">
		select * from gis_leak where "LEAK_ID" = #{id}
	</select>
	
	<select id="queryBurstLeakList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryLeakListDTO" 
		resultType="com.koron.inwlms.bean.VO.zoneLoss.LeakDetailsVO">
		select "ID" as id,
		"WORDERID" as worderid,
		"PATROLMANID" as patrolmanid,
		"ISLIGORSH" as isligorsh,
		"FEATID" as featid,
		"DIAMETER" as diameter,
		"MATERIAL" as material,
		"LOCATION" as location,
		"LEAK_ID" as leakid,
		"FOUNDTYPE" as foundtype,
		"PRESSURE" as pressure,
		"DEPTH" as depth,
		"LEAKTIME" as leaktime,
		"LEAKCOND" as leakcond,
		"REP_DATE" as repdate,
		"REPORTED" as reported,
		"EX_DATE" as exdate,
		"REPAIE_DATE" as repaiedate,
		"MAIN_PERSON" as mainperson,
		"COORDINATE" as coordinate,
		"REMARK" as remark,
		"P_CODE" as pcode,
		"ASSIGNER" as assigner,
		"DEALRESULT" as dealresult,
		"LEAK_SHAPE" as leakshape,
		"LEAKDIA" as leakdia,
		"LEAK_FLOW" as leakflow,
		"WATER_LEAK" as waterleak,
		"YEAR_PIPE" as yearpipe,
		"DIAMETER_CORRECT" as diametercorrect,
		"MATERIAL_CORRECT" as materialcorrect,
		"DEPTH_CORRECT" as depthcorrect,
		"EMERGENCY_LEVEL" as emergencylevel,
		"CUTOFF_TIME" as cutofftime,
		"LEAK_REGION" as leakregion,
		"LEAK_ID2" as leakid2
 		from gis_leak where 1 = 1
		<if test="startSize !='' and startSize !=null">
			and "LEAKDIA" &gt;= #{startSize}
		</if>
		<if test="endSize !='' and endSize !=null">
			and "LEAKDIA" &lt;= #{endSize}
		</if>
		<if test="repStartTime !='' and repStartTime !=null">
			and "REP_DATE" &gt;= to_date(#{repStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repEndTime !='' and repEndTime !=null">
			and "REP_DATE" &lt;= to_date(#{repEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieStartTime !='' and repaieStartTime !=null">
			and "REPAIE_DATE" &gt;= to_date(#{repaieStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieEndTime !='' and repaieEndTime !=null">
			and "REPAIE_DATE" &lt;= to_date(#{repaieEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="description != null and description != ''">
			and "REMARK" like '%'||#{description}||'%'
		</if>
		<if test="orderby !=null and orderby !=''">
			ORDER BY ${orderby}
		</if>
		limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
	</select>
	
	<select id="countBurstLeak" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryLeakListDTO" 
	resultType="java.lang.Integer">
		select count(*) from gis_leak where 1 = 1
		<if test="startSize !='' and startSize !=null">
			and "LEAKDIA" &gt;= #{startSize}
		</if>
		<if test="endSize !='' and endSize !=null">
			and "LEAKDIA" &lt;= #{endSize}
		</if>
		<if test="repStartTime !='' and repStartTime !=null">
			and "REP_DATE" &gt;= to_date(#{repStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repEndTime !='' and repEndTime !=null">
			and "REP_DATE" &lt;= to_date(#{repEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieStartTime !='' and repaieStartTime !=null">
			and "REPAIE_DATE" &gt;= to_date(#{repaieStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieEndTime !='' and repaieEndTime !=null">
			and "REPAIE_DATE" &lt;= to_date(#{repaieEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="description != null and description != ''">
			and "REMARK" like '%'||#{description}||'%'
		</if>
	</select>
	
</mapper>