<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.zoneLoss.ZoneLossAnaMapper">
	<select id="queryIndicLevel2Info" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.zoneLoss.IndicatorInfo">
		select code,name,level2 from lc_app_dim_indicator where code = #{code};
	</select>
	
	<select id="queryBurstLeakAnalysis" resultType="com.koron.inwlms.bean.VO.zoneLoss.BurstLeakAnalysisVO">
		select "LEAKCOND" as faultType,"YEAR_PIPE" as mainAge,"LEAK_ID" as mainBurstId,"DIAMETER" as mainDiameter,
		"DEALRESULT" as processingStatus,"COORDINATE" as xy
		from gis_leak;
	</select>
	
	<select id="queryBurstLeakById" resultType="com.koron.inwlms.bean.VO.zoneLoss.LeakDetailsVO">
		select "ID" as ID,
		"WORDERID" as WORDERID,
		"PATROLMANID" as PATROLMANID,
		"ISLIGORSH" as ISLIGORSH,
		"FEATID" as FEATID,
		"DIAMETER" as DIAMETER,
		"MATERIAL" as MATERIAL,
		"LOCATION" as LOCATION,
		"LEAK_ID" as LEAKID,
		"FOUNDTYPE" as FOUNDTYPE,
		"PRESSURE" as PRESSURE,
		"DEPTH" as DEPTH,
		"LEAKTIME" as LEAKTIME,
		"LEAKCOND" as LEAKCOND,
		"REP_DATE" as REPDATE,
		"REPORTED" as REPORTED,
		"EX_DATE" as EXDATE,
		"REPAIE_DATE" as REPAIEDATE,
		"MAIN_PERSON" as MAINPERSON,
		"COORDINATE" as COORDINATE,
		"REMARK" as REMARK,
		"P_CODE" as PCODE,
		"ASSIGNER" as ASSIGNER,
		"DEALRESULT" as DEALRESULT,
		"LEAK_SHAPE" as LEAKSHAPE,
		"LEAKDIA" as LEAKDIA,
		"LEAK_FLOW" as LEAKFLOW,
		"WATER_LEAK" as WATERLEAK,
		"YEAR_PIPE" as YEARPIPE,
		"DIAMETER_CORRECT" as DIAMETERCORRECT,
		"MATERIAL_CORRECT" as MATERIALCORRECT,
		"DEPTH_CORRECT" as DEPTHCORRECT,
		"EMERGENCY_LEVEL" as EMERGENCYLEVEL,
		"CUTOFF_TIME" as CUTOFFTIME,
		"LEAK_REGION" as LEAKREGION,
		"LEAK_ID2" as LEAKID2
		from gis_leak where "LEAK_ID" = #{id}
	</select>
	
	<select id="queryBurstLeakList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryLeakListDTO" 
		resultType="com.koron.inwlms.bean.VO.zoneLoss.LeakDetailsVO">
		select "ID" as ID,
		"WORDERID" as WORDERID,
		"PATROLMANID" as PATROLMANID,
		"ISLIGORSH" as ISLIGORSH,
		"FEATID" as FEATID,
		"DIAMETER" as DIAMETER,
		"MATERIAL" as MATERIAL,
		"LOCATION" as LOCATION,
		"LEAK_ID" as LEAKID,
		"FOUNDTYPE" as FOUNDTYPE,
		"PRESSURE" as PRESSURE,
		"DEPTH" as DEPTH,
		"LEAKTIME" as LEAKTIME,
		"LEAKCOND" as LEAKCOND,
		"REP_DATE" as REPDATE,
		"REPORTED" as REPORTED,
		"EX_DATE" as EXDATE,
		"REPAIE_DATE" as REPAIEDATE,
		"MAIN_PERSON" as MAINPERSON,
		"COORDINATE" as COORDINATE,
		"REMARK" as REMARK,
		"P_CODE" as PCODE,
		"ASSIGNER" as ASSIGNER,
		"DEALRESULT" as DEALRESULT,
		"LEAK_SHAPE" as LEAKSHAPE,
		"LEAKDIA" as LEAKDIA,
		"LEAK_FLOW" as LEAKFLOW,
		"WATER_LEAK" as WATERLEAK,
		"YEAR_PIPE" as YEARPIPE,
		"DIAMETER_CORRECT" as DIAMETERCORRECT,
		"MATERIAL_CORRECT" as MATERIALCORRECT,
		"DEPTH_CORRECT" as DEPTHCORRECT,
		"EMERGENCY_LEVEL" as EMERGENCYLEVEL,
		"CUTOFF_TIME" as CUTOFFTIME,
		"LEAK_REGION" as LEAKREGION,
		"LEAK_ID2" as LEAKID2
 		from gis_leak where 1 = 1
		<if test="startSize !='' and startSize !=null">
			and "LEAKDIA" &gt;= #{startSize}
		</if>
		<if test="endSize !='' and endSize !=null">
			and "LEAKDIA" &lt;= #{endSize}
		</if>
		<if test="repStartTime !='' and repStartTime !=null">
			and "REP_DATE" &gt;= to_date(#{repStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repEndTime !='' and repEndTime !=null">
			and "REP_DATE" &lt;= to_date(#{repEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieStartTime !='' and repaieStartTime !=null">
			and "REPAIE_DATE" &gt;= to_date(#{repaieStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieEndTime !='' and repaieEndTime !=null">
			and "REPAIE_DATE" &lt;= to_date(#{repaieEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="description != null and description != ''">
			and "REMARK" like '%'||#{description}||'%'
		</if>
		<if test="orderby !=null and orderby !=''">
			ORDER BY ${orderby}
		</if>
		limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
	</select>
	
	<select id="countBurstLeak" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryLeakListDTO" 
	resultType="java.lang.Integer">
		select count(*) from gis_leak where 1 = 1
		<if test="startSize !='' and startSize !=null">
			and "LEAKDIA" &gt;= #{startSize}
		</if>
		<if test="endSize !='' and endSize !=null">
			and "LEAKDIA" &lt;= #{endSize}
		</if>
		<if test="repStartTime !='' and repStartTime !=null">
			and "REP_DATE" &gt;= to_date(#{repStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repEndTime !='' and repEndTime !=null">
			and "REP_DATE" &lt;= to_date(#{repEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieStartTime !='' and repaieStartTime !=null">
			and "REPAIE_DATE" &gt;= to_date(#{repaieStartTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="repaieEndTime !='' and repaieEndTime !=null">
			and "REPAIE_DATE" &lt;= to_date(#{repaieEndTime},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="description != null and description != ''">
			and "REMARK" like '%'||#{description}||'%'
		</if>
	</select>
	
</mapper>