<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.zoneLoss.WaterBalanceAnaMapper">

	<select id="queryZoneWBMLossData" resultType="com.koron.inwlms.bean.VO.zoneLoss.ZoneWBLossVO">
		select 
		<if test="(qzlDTO.zoneNo == null or qzlDTO.zoneNo == '') and (qzlDTO.zoneRank == null or qzlDTO.zoneRank == '')">
			sum(case when b.code='WNMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='WNMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='WNMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		<if test="qzlDTO.zoneRank == 1">
			<!-- 一级分区 -->
			sum(case when b.code='FLMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='FLMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='FLMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		<if test="qzlDTO.zoneNo != null and qzlDTO.zoneNo != '' and qzlDTO.zoneRank == 3">
			<!-- DMA/PMA -->
			sum(case when b.code='DMMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='DMMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='DMMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		from
		(select a.id,m."yearMonth",a.code,a.value,ind.precision as precision,a."zoneNo"
		from (
			select id,"yearMonth",code,value,"zoneNo" from "ANA_zone_balance_month"
			where 1= 1
			<if test="lists != null and lists.size > 0">
				and "zoneNo" in 
				<foreach item="item" collection="lists" separator="," open="(" close=")" index="">    
					#{item.zoneNo}    
				</foreach> 
			</if>
			<if test="lists == null or lists.size == 0">
				and "zoneNo" is null 
			</if>
		) a, "LC_APP_dim_indicator" ind, "APP_dim_month" m where ind.code = a.code 
		and m.id = a."yearMonth" and m."yearMonth" &gt;= #{qzlDTO.startTime} 
		and m."yearMonth" &lt;= #{qzlDTO.endTime}) b
		group by b."zoneNo";
	</select>
	
	<select id="queryZoneWBYLossData" resultType="com.koron.inwlms.bean.VO.zoneLoss.ZoneWBLossVO">
		select 
		<if test="(qzlDTO.zoneNo == null or qzlDTO.zoneNo == '') and (qzlDTO.zoneRank == null or qzlDTO.zoneRank == '')">
			sum(case when b.code='WNMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='WNMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='WNMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		<if test="qzlDTO.zoneNo != null and qzlDTO.zoneNo != '' and qzlDTO.zoneRank == 1">
			<!-- 一级分区 -->
			sum(case when b.code='FLMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='FLMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='FLMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		<if test="qzlDTO.zoneNo != null and qzlDTO.zoneNo != '' and qzlDTO.zoneRank == 3">
			<!-- DMA/PMA -->
			sum(case when b.code='DMMFWSSITDF' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "totalMeterFlow",
			sum(case when b.code='DMMBC' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "meterReadFlow",
			sum(case when b.code='DMMWL' then round( value/b.precision :: NUMERIC, 2 ) else 0 end) as "lossFlow",
			<!-- 漏损率暂定 -->
			0.1 as "lossRate",
			b."zoneNo"
		</if>
		from
		(select a.id,a.year,a.code,a.value,ind.precision as precision,a."zoneNo"
		from (
			select id,year,code,value,"zoneNo" from "ANA_zone_balance_year"
			where year &gt;= #{startTime} and year &lt;= #{endTime}
			<if test="lists != null and lists.size > 0">
				and "zoneNo" in 
				<foreach item="item" collection="lists" separator="," open="(" close=")" index="">    
					#{item.zoneNo}    
				</foreach> 
			</if>
			<if test="lists == null or lists.size == 0">
				and "zoneNo" is null 
			</if>
		) a,"LC_APP_dim_indicator" ind where ind.code = a.code 
		) b
		group by b."zoneNo";
	</select>
	
	<select id="queryWNWBReportList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryWNWBReportListDTO"
		resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBReportListVO">
		select 
		id,"reportName","dateType" as "timeType","reportTime",description,
		"createTime","createBy","updateTime" 
		from "APP_company_report"
		where status = 1
		<if test="timeType != null and timeType != ''">
			and "dateType" = #{timeType}
		</if>
		<if test="startTime !='' and startTime !=null">
			and "reportTime" &gt;= #{startTime}
		</if>
		<if test="endTime !='' and endTime !=null">
			and "reportTime" &lt;= #{endTime}
		</if>
		<if test="reportName != null and reportName != ''">
			and "reportName" like '%'||#{reportName}||'%'
		</if>
		<if test="orderby !=null and orderby !=''">
			ORDER BY ${orderby}
		</if>
		limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
	</select>
	
	<select id="countWNWBReportList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryWNWBReportListDTO" 
	resultType="java.lang.Integer">
		select count(1) from "APP_company_report"
		where status = 1
		<if test="timeType != null and timeType != ''">
			and "dateType" = #{timeType}
		</if>
		<if test="startTime !='' and startTime !=null">
			and "reportTime" &gt;= #{startTime}
		</if>
		<if test="endTime !='' and endTime !=null">
			and "reportTime" &lt;= #{endTime}
		</if>
		<if test="reportName != null and reportName != ''">
			and "reportName" like '%'||#{reportName}||'%'
		</if>
	</select>
	
	 <update id="deleteWNWBReport" parameterType="java.lang.Integer" >
      	   update "APP_company_report" set status= 0 where id = #{id}
      </update>
      
      <select id="queryWNWBTReportList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryWNWBTReportListDTO"
		resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBTReportListVO">
		select 
		id,"templateName" as "reportName",description,
		"createTime","createBy","updateTime","updateBy"
		from "APP_company_t_report"
		where status = 1
		<if test="templateName != null and templateName != ''">
			and "templateName" like '%'||#{templateName}||'%'
		</if>
		<if test="orderby !=null and orderby !=''">
			ORDER BY ${orderby}
		</if>
		limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
	</select>
	
	<select id="countWNWBTReportList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.QueryWNWBTReportListDTO" 
	resultType="java.lang.Integer">
		select count(1) from "APP_company_t_report"
		where status = 1
		<if test="templateName != null and templateName != ''">
			and "templateName" like '%'||#{templateName}||'%'
		</if>
	</select>
	
	<update id="deleteWNWBTReport" parameterType="java.lang.Integer" >
      	 update "APP_company_t_report" set status= 0 where id = #{tId}
    </update>
    
    <insert id="addWNWBReport" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.AddWNWBReportDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_company_report"
		("templateId",
		"reportName",
		"dateType",
		"reportTime",
		description,
		remark,
		"createBy",
		"createTime",
		"updateBy",
		"updateTime")
		VALUES
		(#{templateId,jdbcType=INTEGER},
		#{reportName,jdbcType=VARCHAR},
		#{timeType,jdbcType=INTEGER},
		#{reportTime,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		current_timestamp,
		#{updateBy,jdbcType=VARCHAR},
		current_timestamp)
	</insert>
	
	 <insert id="addReportIndicator" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.WNWBReportIndicatorDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_company_report_indicator"
		("reportId",
		"templateId",
		value,
		"createBy",
		"createTime",
		"updateBy",
		"updateTime")
		VALUES
		(#{reportId,jdbcType=INTEGER},
		#{templateIndicatorId,jdbcType=INTEGER},
		#{value,jdbcType=DOUBLE},
		#{createBy,jdbcType=VARCHAR},
		current_timestamp,
		#{updateBy,jdbcType=VARCHAR},
		current_timestamp)
	</insert>
	
	 <insert id="addReportFile" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.WNWBReportFileDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_company_report_attach"
		("reportId",
		"fileId",
		"createBy",
		"createTime",
		"updateBy",
		"updateTime")
		VALUES
		(#{reportId,jdbcType=INTEGER},
		#{fileId,jdbcType=INTEGER},
		#{createBy,jdbcType=VARCHAR},
		current_timestamp,
		#{updateBy,jdbcType=VARCHAR},
		current_timestamp)
	</insert>
	
	  <update id="updateWNWBReport" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.AddWNWBReportDTO" >
      	   update "APP_company_report" 
      	   set 
      	   "reportName"=#{reportName},
      	   description=#{description},
      	   remark = #{remarks}, 
      	   "updateTime"= current_timestamp,
      	   "updateBy"=#{updateBy} 
      	   where id=#{id}
      </update>
      
      <delete id="deleteReportIndicatorById">
           delete from "APP_company_report_indicator" where "reportId" = #{id}
      </delete>
      
      <delete id="deleteReportFileById">
           delete from "APP_company_report_attach" where "reportId" = #{id}
      </delete>
      
      <select id="queryWNWBReporFileList" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.WNWBReportFileDTO"
		resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBReporFileListVO">
		select 
		a.id,b."fileName",b."fileSize" as size,b."fileType"
		from "APP_company_report_attach" a
		left join "APP_file" b on a."fileId" = b.id
	</select>
	
	<select id="queryWNWBReportById" resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBReportDetailVO">
		select 
		id,"reportName","dateType" as "timeType","reportTime","templateId",description,
		"createTime","createBy","updateTime" 
		from "APP_company_report"
		where status = 1 and id = #{id}
	</select>
	
	<select id="queryWNWBReportFileById" resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBReportFile">
		select 
		a.id,b."fileName",b."fileSize" as size,b."fileType"
		from "APP_company_report_attach" a
		left join "APP_file" b on a."fileId" = b.id
		where a.id = #{id}
	</select>
	
	<select id="queryWNWBReportIndicatorById" resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBReportIndicator">
		select 
		id,"reportId","templateId" as "templateIndicatorId",value,
		"createTime","updateTime","createBy","updateBy"
		from "APP_company_report_indicator"
		where "reportId" = #{id}
	</select>
	
	 <insert id="addWNWBTReport" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.AddWNWBTReportDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_company_t_report"
		("templateName",
		description,
		remark,
		"createBy",
		"createTime",
		"updateBy",
		"updateTime")
		VALUES
		(#{reportName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		current_timestamp,
		#{updateBy,jdbcType=VARCHAR},
		current_timestamp)
	</insert>
	
	 <insert id="addTReportIndicator" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.WNWBTReportIndicatorDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_company_t_report_indicator"
		("templateId",
		code,
		description,
		"editStatus",
		"editAble",
		"formulaAble",
		"formula",
		"createBy",
		"createTime",
		"updateBy",
		"updateTime")
		VALUES
		(#{templateId,jdbcType=INTEGER},
		#{code,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{editStatus,jdbcType=INTEGER},
		#{editAble,jdbcType=INTEGER},
		#{formulaAble,jdbcType=INTEGER},
		#{formula,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		current_timestamp,
		#{updateBy,jdbcType=VARCHAR},
		current_timestamp)
	</insert>
	
	 <update id="updateWNWBTReport" parameterType="com.koron.inwlms.bean.DTO.zoneLoss.AddWNWBTReportDTO" >
      	   update "APP_company_t_report" 
      	   set 
      	   "templateName"=#{reportName},
      	   description=#{description},
      	   remark = #{remarks}, 
      	   "updateTime"= current_timestamp,
      	   "updateBy"=#{updateBy} 
      	   where id=#{id}
      </update>
      
      <delete id="deleteTReportIndicatorById">
           delete from "APP_company_t_report_indicator" where "templateId" = #{id}
      </delete>
      
      <select id="queryWNWBTReportById" resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBTReportDetailVO">
		select 
		id,"templateName" as "reportName",description,
		"createTime","createBy","updateTime","updateBy"
		from "APP_company_t_report"
		where status = 1 and id = #{id}
	</select>
	
	<select id="queryWNWBTReportIndicatorById" resultType="com.koron.inwlms.bean.VO.zoneLoss.WNWBTReportIndicator">
		select 
		id,"templateId",code,description,"editStatus","editAble","formulaAble",
		formula,"createTime","updateTime","createBy","updateBy"
		from "APP_company_t_report_indicator"
		where "templateId" = #{id}
	</select>
</mapper>