<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.leakageControl.AlarmProcessMapper">
 <select id="queryAlarmProcess" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmProcessDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 select id as id,"warningCode" as "warningCode", code as "taskCode", "executorCode" as "executorCode",state as state,"expectFinishTime" as "expectFinishTime","recommendStrategy" as "recommendStrategy","actualStrategy" as "actualStrategy",
 "leadingCadre" as "leadingCadre","projectCost" as "projectCost","waterSave" as "waterSave","actualStrategyType" as "actualStrategyType","actualCost" as "actualCost","actualFinishTime" as "actualFinishTime",
 content as content,"createBy" as "createBy","createTime" as "createTime","updateBy" as "updateBy","updateTime" as "updateTime"
 from 
 app_warningprocessing where "createTime" between '${startTime}' and '${endTime}' and type = #{type}
 <if test="state != null and state != '' "> and state = #{processState}</if>
 <if test="recommendStrategy != null and recommendStrategy != '' "> and "recommendStrategy" = #{recommendStrategy}</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1); 
 </select>
 
 <select id="queryAlarmProcessTotalNumber" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmProcessDTO" resultType="java.lang.Integer">
 select count(*) from (select * from app_warningprocessing where "createTime" between '${startTime}' and '${endTime}' and type = #{type}
 <if test="state != null and state != '' "> and state = #{processState}</if>
 <if test="recommendStrategy != null and recommendStrategy != '' "> and "recommendStrategy" = #{recommendStrategy}</if>) a 
 <if test="areaCode != null and areaCode != '' and dmaCode == null">inner join app_warninginf b on a."warningCode" = b.code where b."objectCode" like '%'||#{areaCode}||'%'</if>
 <if test="dmaCode != null and dmaCode != '' ">inner join app_warninginf b on a."warningCode" = b.code where b."objectCode" like '%'||#{dmaCode}||'%'</if>
 </select>
 
 
 <select id="queryAlarmMessageByP" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmProcessDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 select b.code as "warningCode",b.content as content,b."alarmType" as "alarmType",c."objectType" as "objectType",b."objectCode" as "objectCode" 
 from app_warninginf b inner join app_warningscheme c on b."schemeCode" = c.code 
  <if test="dmaCode != null and dmaCode != '' "> and b."objectCode" like '%'||#{dmaCode}||'%'</if>
  <if test="areaCode != null and areaCode != '' ">and b."objectCode" = #{areaCode}</if>
 </select>
 
 <select id="queryAlarmMessageByCode" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 select b.code as "warningCode",b.content as content,b."alarmType" as "alarmType",c."objectType" as "objectType",b."objectCode" as "objectCode" 
 from app_warninginf b inner join app_warningscheme c on b."schemeCode" = c.code where b.code = #{code}
 </select>
 
 <select id="queryAlarmProcessByTaskCode" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 select a.id as id,a."warningCode" as "warningCode", a.code as "taskCode", a."executorCode" as "executorCode",a.state as state,a."expectFinishTime" as "expectFinishTime",a."recommendStrategy" as "recommendStrategy",a."actualStrategy" as "actualStrategy",
 a."leadingCadre" as "leadingCadre",a."projectCost" as "projectCost",a."waterSave" as "waterSave",a."actualStrategyType" as "actualStrategyType",a."actualCost" as "actualCost",a."actualFinishTime" as "actualFinishTime",
 a.content as content,a."createBy" as "createBy",a."createTime" as "createTime",a."updateBy" as "updateBy",a."updateTime" as "updateTime"
 from 
 (select * from app_warningprocessing where code = #{taskCode}
 ) a
 </select>
 
 <insert id="addAlarmProcess" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code")
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{taskCode}) 
 </insert>
 
 <select id="addAlarmProcessOfZQS" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO" resultType="java.lang.String">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code", type)
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime}, concat('ZQS',nextval('zqs'::regclass)), #{type}) returning code
 </select>
 
 <select id="addAlarmProcessOfZCX" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO" resultType="java.lang.String">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code", type)
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime}, concat('ZCX',nextval('zcx'::regclass)), #{type}) returning code
 </select>
 
  <select id="addAlarmProcessOfPCX" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO" resultType="java.lang.String">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code", type)
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime}, concat('PCX',nextval('pcx'::regclass)), #{type}) returning code
 </select>
 
  <select id="addAlarmProcessOfPLX" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO" resultType="java.lang.String">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code", type)
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime}, concat('PLX',nextval('plx'::regclass)), #{type}) returning code
 </select>
 
 <select id="addAlarmProcessOfPZS" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO" resultType="java.lang.String">
 insert into app_warningprocessing("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code", type)
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime}, concat('PZS',nextval('pzs'::regclass)), #{type}) returning code
 </select>
 
 
 <update id="updateAlarmProcess" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 update app_warningprocessing
 <set>
 <if test="leadingCadre != null and leadingCadre != '' "> "leadingCadre" = #{leadingCadre}, </if>
 <if test="expectFinishTime != null"> "expectFinishTime" = #{expectFinishTime}, </if>
 <if test="state != null and state != '' "> state = #{state}, </if>
 <if test="recommendStrategy != null and recommendStrategy != '' "> "recommendStrategy" = #{recommendStrategy}, </if>
 <if test="actualStrategy != null and actualStrategy != '' "> "actualStrategy" = #{actualStrategy}, </if>
 <if test="projectCost != null"> "projectCost" = #{projectCost}, </if>
 <if test="waterSave != null"> "waterSave" = #{waterSave}, </if>
 <if test="actualStrategyType != null and actualStrategyType != '' "> "actualStrategyType" = #{actualStrategyType}, </if>
 <if test="actualCost != null"> "actualCost" = #{actualCost}, </if>
 <if test="actualFinishTime != null"> "actualFinishTime" = #{actualFinishTime}, </if>
 <if test="content != null and content != '' "> content = #{content}, </if>
 </set>
 where code = #{taskCode}
 </update>
 
 <delete id="deleteAlarmProcess" parameterType="java.lang.String">
 delete from app_warningprocessing where code = #{code}
 </delete>
 
 <select id="queryAlarmProcessLog" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessLog">
 select * from app_warningprocessinglog where "taskCode" = #{taskCode}
 </select>
 
 <insert id="addAlarmProcessLog" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessLog">
 insert into app_warningprocessinglog(content, operation, "taskCode", "createBy", "createTime")
 values(#{content}, #{operation}, #{taskCode}, #{createBy}, Now())
 </insert>
 
 <select id="queryZoneData" parameterType="com.koron.inwlms.bean.DTO.leakageControl.ObjectData" resultType="com.koron.inwlms.bean.VO.leakageControl.GisExistZoneVO">
 select * from gis_exist_zone
 <trim prefix="where" prefixOverrides="and|or">
   <if test="objectName != null and objectName != '' "> and name like '%'||#{objectName}||'%'</if>
   <if test="type != null and type != '' ">and rank = #{type}</if>
   <if test="objectCode != null and objectCode != '' "> and p_code = #{objectCode}</if>
  </trim>
 </select>
 

</mapper>