<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.leakageControl.AlarmProcessMapper">
 <select id="queryAlarmProcess" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmProcessDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 select a.id as id,a.code as "taskCode", a."executorCode" as "executorCode",a.state as state,a."expectFinishTime" as "expectFinishTime",a."recommendStrategy" as "recommendStrategy",a."actualStrategy" as "actualStrategy",
 a."leadingCadre" as "leadingCadre",a."projectCost" as "projectCost",a."waterSave" as "waterSave",a."actualStrategyType" as "actualStrategyType",a."actualCost" as "actualCost",a."actualFinishTime" as "actualFinishTime",
 a.content as content,a."createBy" as "createBy",a."createTime" as "createTime",a."updateBy" as "updateBy",a."updateTime" as "updateTime",d.content as "alarmContent",d."alarmType" as "alarmType",d."objectType" as "objectType"
 from 
 (select * from "APP_warningProcessing" where "createTime" between '${startTime}' and '${endTime}'
 <if test="state != null and state != '' "> and state = #{processState}</if>
 <if test="recommendStrategy != null and recommendStrategy != '' "> and "recommendStrategy" = #{recommendStrategy}</if>
 ) a
 inner join 
 (select b.code as code,b.content as content,b."alarmType" as "alarmType",c."objectType" as "objectType" from "APP_warningInf" b inner join "APP_warningScheme" c on b."schemeCode" = c.code) d
 on a."warningCode" = d.code 

 </select>
 
 <insert id="addAlarmProcess" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 insert into "APP_warningProcessing"("warningCode", "executorCode", state, "expectFinishTime", "recommendStrategy", "actualStrategy", "leadingCadre", "projectCost", "waterSave", "actualStrategyType",
 "actualCost", "actualFinishTime", content, "createBy", "createTime", "updateBy", "updateTime", "code")
 values(#{warningCode}, #{executorCode}, #{state}, #{expectFinishTime}, #{recommendStrategy}, #{actualStrategy}, #{leadingCadre}, #{projectCost}, #{waterSave}, #{actualStrategyType}, #{actualCost},
 #{actualFinishTime}, #{content}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{taskCode})
 </insert>
 
 <update id="updateAlarmProcess" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlarmProcessVO">
 update "APP_warningProcessing"
 <set>
 <if test="leadingCadre != null and leadingCadre != '' "> "leadingCadre" = #{leadingCadre}, </if>
 <if test="expectFinishTime != null and expectFinishTime != '' "> "expectFinishTime" = #{expectFinishTime}, </if>
 <if test="state != null and state != '' "> state = #{state}, </if>
 <if test="recommendStrategy != null and recommendStrategy != '' "> "recommendStrategy" = #{recommendStrategy}, </if>
 <if test="actualStrategy != null and actualStrategy != '' "> "actualStrategy" = #{actualStrategy}, </if>
 <if test="projectCost != null and projectCost != '' "> "projectCost" = #{projectCost}, </if>
 <if test="waterSave != null and waterSave != '' "> "waterSave" = #{waterSave}, </if>
 <if test="actualStrategyType != null and actualStrategyType != '' "> "actualStrategyType" = #{actualStrategyType}, </if>
 <if test="actualCost != null and actualCost != '' "> "actualCost" = #{actualCost}, </if>
 <if test="actualFinishTime != null and actualFinishTime != '' "> "actualFinishTime" = #{actualFinishTime}, </if>
 <if test="content != null and content != '' "> content = #{content}, </if>
 </set>
 where code = #{taskCode}
 </update>
 
 <delete id="deleteAlarmProcess" parameterType="java.lang.String">
 delete from "APP_warningProcessing" where code = #{code}
 </delete>

</mapper>