<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.leakageControl.EventInfoMapper">
 <select id="queryEventInfo" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventInfoDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 select * from app_eventinfo where "createTime" between '${startTime}' and '${endTime}'
 <if test="objectType != null and objectType != '' "> and "objectType" = #{objectType}</if>
 <if test="type != null and type != '' "> and "type" = #{type}</if>
 <if test="subtype != null and subtype != '' "> and "subtype" = #{subtype}</if>
 <if test="objectCode != null and objectCode != '' "> and "objectCode" = #{objectCode}</if>
 <if test="firstPartition != null and firstPartition != '' "> and "firstPartition" = #{firstPartition}</if>
 <if test="secondPartition != null and secondPartition != '' "> and "secondPartition" = #{secondPartition}</if>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryEventInfoTotalNumber" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventInfoDTO" resultType="java.lang.Integer">
 select count(*) from app_eventinfo where "createTime" between '${startTime}' and '${endTime}'
 <if test="objectType != null and objectType != '' "> and "objectType" = #{objectType}</if>
 <if test="type != null and type != '' "> and "type" = #{type}</if>
 <if test="subtype != null and subtype != '' "> and "subtype" = #{subtype}</if>
 <if test="objectCode != null and objectCode != '' "> and "objectCode" = #{objectCode}</if>
 <if test="firstPartition != null and firstPartition != '' "> and "firstPartition" = #{firstPartition}</if>
 </select>
 
 <delete id="deleteEventInfo" parameterType="java.lang.String">
 
 delete from app_eventinfo where code = #{code}
 </delete>
 
 <insert id="addEventInfo" parameterType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 insert into app_eventinfo(code, name, type, subtype, "objectCode", "firstPartition", "secondPartition", "dmaCode", "objectType", "happenTime", 
 "content", "createBy", "createTime", "updateBy", "updateTime")
 values(#{code}, #{name}, #{type}, #{subtype}, #{objectCode}, #{firstPartition}, #{secondPartition}, #{dmaCode}, #{objectType}, #{happenTime},
 #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 </insert>
 
 <update id="updateEventInfo" parameterType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 update app_eventinfo
 <set>
 <if test="type != null and type != '' "> type = #{type}</if>
 <if test="subtype != null and subtype != '' "> subtype = #{subtype}</if>
 <if test="objectCode != null and objectCode != '' "> "objectCode" = #{objectCode}</if>
 <if test="firstPartition != null and firstPartition != '' "> "firstPartition" = #{firstPartition}</if>
 <if test="secondPartition != null and secondPartition != '' "> "secondPartition" = #{secondPartition}</if>
 <if test="dmaCode != null and dmaCode != '' "> "dmaCode" = #{dmaCode}</if>
 <if test="happenTime != null and happenTime != '' "> "happenTime" = #{happenTime}</if>
 <if test="content != null and content != '' "> content = #{content}</if>
 </set>
 where code = #{code}
 </update>
 
 <select id="querychildKey" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventTypeDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.DataDicRelationVO">
 select "parentKey", "childKey" from sm_datadictionaryrelation where "parentKey" = #{code}
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryChildKeyNum" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventTypeDTO" resultType="java.lang.Integer">
 select count(*) from sm_datadictionaryrelation where "parentKey" = #{code}
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryMaxKey" parameterType="java.lang.String" resultType="java.lang.Integer">
 select cast(MAX(substring(key,2,9)) as integer) from sm_datadictionary where parent = #{parent}
 </select>
 
 <insert id="addEventWarnRelation" parameterType="com.koron.inwlms.bean.VO.leakageControl.EventWarnRelation">
 insert into app_eventwarnrelation("processCode", "eventCode", "createBy", "createTime", "updateBy", "updateTime") values
 <foreach collection="list" item="invest"  index="index" separator=",">
			(#{invest.processCode}, #{invest.eventCode}, #{invest.createBy}, Now(), #{invest.updateBy}, Now())
	</foreach>
 </insert>
 
 <select id="queryEventWarnRelation" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.EventWarnRelation">
 select * from app_eventwarnrelation where "processCode" = #{processCode}
 </select>
 
 <select id="queryEventFile" parameterType="com.koron.inwlms.bean.DTO.leakageControl.QueryEventFileDTO" resultType="com.koron.inwlms.bean.DTO.common.UploadFileDTO">
 select a.id, a."fileName", a."filePath", a."fileType", a."fileSize", a."storageTime", a."tId", a."moduleType", a."storeName", a."createBy", a."createTime", a."updateBy", a."updateTime", a.status, a.foreignkey
 from app_file a inner join app_filerelation b on b."fileId" = a.id where b.code = #{code}
 <if test="name != null and name != '' "> and a."fileName" like '%'||#{name}||'%'</if>
 <if test="startTime != null and endTime == null"> and a."storageTime" &gt; '${startTime}'</if>
 <if test="endTime != null and startTime == null"> and a."storageTime" &lt; '${endTime}'</if>
 <if test="startTime != null and endTime != null"> and a."storageTime" between '${startTime}' and '${endTime}'</if>
 </select>
 
</mapper>