<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.leakageControl.EventInfoMapper">
 <select id="queryEventInfo" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventInfoDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 select * from "APP_eventInfo" where "createTime" between '${startTime}' and '${endTime}'
 <if test="objectType != null and objectType != '' "> and "objectType" = #{objectType}</if>
 <if test="type != null and type != '' "> and "type" = #{type}</if>
 <if test="subtype != null and subtype != '' "> and "subtype" = #{subtype}</if>
 <if test="objectCode != null and objectCode != '' "> and "objectCode" = #{objectCode}</if>
 <if test="firstPartition != null and firstPartition != '' "> and "firstPartition" = #{firstPartition}</if>
 </select>
 
 
 
 <delete id="deleteEventInfo" parameterType="java.lang.String">
 
 delete from "APP_eventInfo" where code = #{code}
 </delete>
 
 <insert id="addEventInfo" parameterType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 insert into "APP_eventInfo"(code, name, type, subtype, "objectCode", "firstPartition", "secondPartition", "dmaCode", "objectType", "happenTime", 
 "content", "createBy", "createTime", "updateBy", "updateTime")
 values(#{code}, #{name}, #{type}, #{subtype}, #{objectCode}, #{firstPartition}, #{secondPartition}, #{dmaCode}, #{objectType}, #{happenTime},
 #{content}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 </insert>
 
 <update id="updateEventInfo" parameterType="com.koron.inwlms.bean.VO.leakageControl.EventInfo">
 update "APP_eventInfo"
 <set>
 <if test="type != null and type != '' "> type = #{type}</if>
 <if test="subtype != null and subtype != '' "> subtype = #{subtype}</if>
 <if test="objectCode != null and objectCode != '' "> "objectCode" = #{objectCode}</if>
 <if test="firstPartition != null and firstPartition != '' "> "firstPartition" = #{firstPartition}</if>
 <if test="secondPartition != null and secondPartition != '' "> "secondPartition" = #{secondPartition}</if>
 <if test="dmaCode != null and dmaCode != '' "> "dmaCode" = #{dmaCode}</if>
 <if test="happenTime != null and happenTime != '' "> "happenTime" = #{happenTime}</if>
 <if test="content != null and content != '' "> content = #{content}</if>
 </set>
 where code = #{code}
 </update>
 
 <select id="querychildKey" parameterType="com.koron.inwlms.bean.DTO.leakageControl.EventTypeDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.DataDicRelationVO">
 select count(*) as "totalNum", id , "parentKey", "childKey" from "SM_dataDictionaryRelation" where "parentKey" = #{code}
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryMaxKey" parameterType="java.lang.String" resultType="java.lang.Integer">
 select cast(MAX(substring(key,2,9)) as integer) from "SM_dataDictionary" where parent = #{parent}
 </select>
 
 <insert id="addEventTypeRelation" parameterType="java.lang.String">
 insert "SM_dataDictionaryRelation" into("parentKey", "childKey")
 values(#{parentKey}, #{childKey})
 </insert>
 
</mapper>