<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.koron.inwlms.mapper.leakageControl.WarningSchemeMapper">
 
 <select id="queryWarningScheme" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.WarningSchemeVO">
 select * from app_warningscheme
 <trim prefix="where" prefixOverrides="and|or">
 <if test="id != null"> id = #{id},</if>
 <if test="code != null and code !='' "> code = #{code},</if>
 <if test="state != null and state != '' "> state = #{state},</if>
 <if test="objectType != null and objectType != '' "> "objectType" = #{objectType},</if>
 <if test="alarmType != null and alarmType != '' "> "alarmType" = #{alarmType},</if>
 <if test="dmaCode != null and dmaCode != '' "> "dmaCode" = #{dmaCode}</if>
 </trim>
 limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryWarningSchemeTotalNumber" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.Integer">
 select count(*) from app_warningscheme
 <trim prefix="where" prefixOverrides="and|or">
 <if test="id != null"> id = #{id},</if>
 <if test="code != null and code !='' "> code = #{code},</if>
 <if test="state != null and state != '' "> state = #{state},</if>
 <if test="objectType != null and objectType != '' "> "objectType" = #{objectType},</if>
 <if test="alarmType != null and alarmType != '' "> "alarmType" = #{alarmType},</if>
 <if test="dmaCode != null and dmaCode != '' "> "dmaCode" = #{dmaCode}</if>
 </trim>
 </select>
 
 <insert id="addWarningScheme" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, #{code}, #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, #{createTime}, #{updateBy}, Now())
 </insert>
 
 <select id="addWarningSchemeOfSZCX" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('SZ_CX',nextval('szcx'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfSZQS" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('SZ_QS',nextval('szqs'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfSZAI" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('SZ_AI',nextval('szai'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfDPZCX" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('DPZ_CX',nextval('dpzcx'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfDPZQS" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('DPZ_QS',nextval('dpzqs'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfDPZAI" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('DPZ_AI',nextval('dpzai'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfFZCX" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('FZ_CX',nextval('fzcx'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfFZQS" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('FZ_QS',nextval('fzqs'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfFZAI" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('FZ_AI',nextval('fzai'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfPFPCX" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('PFP_CX',nextval('pfpcx'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfNPZS" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('NP_ZS',nextval('npzs'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <select id="addWarningSchemeOfPFPLX" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO" resultType="java.lang.String">
 insert into app_warningscheme(name, state, code, "alarmLevel", "objectType", "alarmType", "alarmIndex", "paramType", "createBy", "createTime", "updateBy", "updateTime")
 values(#{name}, #{state}, concat('PFP_LX',nextval('pfplx'::regclass)), #{alarmLevel}, #{objectType}, #{alarmType}, #{alarmIndex}, #{paramType}, #{createBy}, Now(), #{updateBy}, #{updateTime})
 returning code
 </select>
 
 <delete id="deleteWarningScheme" parameterType="java.lang.String">
 delete from app_warningscheme where code = #{code}
 </delete>
 
 <update id="updateWarningScheme" parameterType="com.koron.inwlms.bean.DTO.leakageControl.WarningSchemeDTO">
 update app_warningscheme 
 <set>
 <if test="alarmType != null and alarmType != '' "> "alarmType" = #{alarmType},</if>
 <if test="name != null and name != '' "> name = #{name},</if>
 <if test="objectType != null and objectType != '' "> "objectType" = #{objectType},</if>
 <if test="alarmIndex != null and alarmIndex != '' "> "alarmIndex" = #{alarmIndex},</if>
 <if test="paramType != null and paramType != '' "> "paramType" = #{paramType},</if>
 <if test="state != null and state != '' "> state = #{state}</if>
 </set>
 where code = #{code}
 </update>
 
 
 
 <select id="queryAlertNoticeSchemeByWarningId" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.AlertNoticeScheme">
 select * from app_alertnoticescheme where "schemeCode" = #{code}
 </select>
 
 <insert id="addAlarmRule" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmRuleDTO">
 insert into app_warningrule("schemeCode", constant, target, "arithmeticRule", "limitType")
 values(#{schemeCode}, #{constant}, #{target}, #{arithmeticRule}, #{limitType})
 </insert>
 
 <select id="queryAlarmRuleByAlarmCode" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.DTO.leakageControl.AlarmRuleDTO">
 select * from app_warningrule  where "schemeCode" = #{schemeCode}
 </select>
 
 <delete id="deleteAlarmRuleByAlarmCode" parameterType="java.lang.String">
 delete from app_warningrule where "schemeCode" = #{schemeCode}
 </delete>

<update id="updateAlarmRule" parameterType="com.koron.inwlms.bean.DTO.leakageControl.AlarmRuleDTO">
update app_warningrule
<set>
<if test="constant != null and constant != '' "> constant = #{constant}</if>
<if test="target != null and target != '' "> target = #{target}</if>
<if test="arithmeticRule != null and arithmeticRule != '' "> "arithmeticRule" = #{arithmeticRule}</if>
<if test="limitType != null and limitType != '' "> "limitType" = #{limitType}</if>
</set>
where "schemeCode" = #{schemeCode}
</update>

 <select id="queryNoticeSchemeByWarningCode" parameterType="java.lang.String" resultType="com.koron.inwlms.bean.VO.leakageControl.AlertNoticeSchemeVO">
 select * from app_alertnoticescheme where "schemeCode" = #{code}
 </select>
 
 <insert id="addNoticeScheme" parameterType="com.koron.inwlms.bean.VO.leakageControl.AlertNoticeScheme">
 insert into app_alertnoticescheme("schemeCode", type, "roleCode", flag, "createBy", "createTime", "updateBy", "updateTime")
 values(#{schemeCode}, #{type}, #{roleCode}, #{createBy}, Now(), #{updateBy}, Now())
 </insert>
 
 </mapper>