<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.baseData.DataQualityMapper">

    <select id="queryMonRep"  resultType="com.koron.inwlms.bean.VO.baseInf.MonRepVO">
        select * from "APP.monRep" where reportDate=#{reportDate}
    </select>


</mapper>