<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.baseData.PropertyMapper">

    <select id="queryFlows"  resultType="com.koron.inwlms.bean.VO.baseInf.PointAccountVO">
        select type,"pointNo" from gis_zone_point where type is not null group by type ,"pointNo" order by type
    </select>

    <insert id="addChargeZones" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneDTO">
        insert into gis_zone_charge(
        "user","zoonNo"
        )values
        <if test="zoons != null and zoons.size > 0">
            <foreach collection="array" item="item"  index="" separator=",">
                (#{user},#{zoons})
            </foreach>
        </if>
    </insert>

    <insert id="addZoneConfDataQuality" parameterType="com.koron.inwlms.bean.VO.baseInf.DataQualityVO">
        insert into gis_zoneconfhistory("BatchNo","originRow",row,integrity,accuracy,availability,timely,consistency,status,"createBy","createTime",type)
        values(#{BatchNo},#{originRow},#{row},#{integrity},#{accuracy},#{availability},#{timely},#{consistency},#{status},#{createBy},now(),#{type})
    </insert>

    <delete id="deleteChargeZones" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneDTO">
           delete from gis_zone_charge where user = #{user}
     </delete>


    <insert id="addBatchZonePoint" >
        insert into gis_zone_point(
        "zoneNo","pointNo",type,"BatchNo","createBy","createTime"
        )values
        <if test="excelBeans != null and excelBeans.size > 0">
            <foreach collection="excelBeans" item="item" index="" separator=",">
                (#{item.zoneNo},#{item.pointNo},#{item.type},#{item.BatchNo},#{item.createBy},#{item.createTime})
            </foreach>
        </if>
    </insert>
    <insert id="addBatchZoneMeter" >
        insert into gis_zone_meter(
        "zoneNo","meterNo",type,"BatchNo","createBy","createTime"
        )values
        <if test="excelBeans != null and excelBeans.size > 0">
            <foreach collection="excelBeans" item="item" index="" separator=",">
                (#{item.zoneNo},#{item.meterNo},#{item.type},#{item.BatchNo},#{item.createBy},#{item.createTime})
            </foreach>
        </if>
    </insert>

    <select id="queryChargeZones" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZoneUserVO">
            select id ,zoonNo,user from gis_zone_charge where user = #{user}
    </select>

    <select id="queryPipes" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneDTO" resultType="com.koron.inwlms.bean.VO.baseInf.PipeLineVO">
        select smid,smtopoerror,smlength,featid,asset_status,p_code,pipe_level,diameter,material,pipe_style,c_value,
        n_value,buriedtype,jointype,is_special,special_type,nominalpressure,length,assetslength,start_id,end_id,star_ele,
        end_ele,star_bur,end_bur,cen_bur,star_top_h,end_top_h,star_bottom_h,end_bottom_h,star_center_h,end_center_h,district,
        magunit,address,location,locationtype,usestatus,n_external,w_external,cov_type,manufacturer,maint_division,admin_division,
        projectname,recid,prjid,arcid,archive_id,planunit,constructioncompany,installcompany,ownder,datasource,to_char(completdate,'YYYY-MM-DD HH:MM:SS')completdate,remark
        from gis_pipe
        <if test="pageCount != null and pageCount != null">
            limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
        </if>
    </select>

    <select id="queryZoneList"  parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZoneVO">
       select * from(
        select 0 as rows, gis_exist_zone.p_code as "zoneNo",gis_exist_zone.name as "zoneName",rank,'' as position,'' as status,t.p_code as parentCode,t.name as parentName,"queryFirstZoon"(tbltree.seq) as firstZoon, 0 as "pressureDeviation", 0 as "timeFactor",0 as "waterPressure" from gis_exist_zone
        left join tbltree on gis_exist_zone.p_code = tbltree.foreignkey
        left join LATERAL(select * from "queryParentZoon"(gis_exist_zone.p_code,tbltree.seq))t on t.code = gis_exist_zone.p_code
        <!--left join ana_zone_day on gis_exist_zone.p_code = ana_zone_day.zoneNo and ana_zone_day."analysisDate"=to_char(now() - interval '1 day','YYYY-MM-DD') and ana_zone_day.code = ''
        left join ana_zone_moni_day on gis_exist_zone.p_code = ana_zone_moni_day.zoneNo and ana_zone_moni_day."analysisDate"=to_char(now() - interval '1 day','YYYY-MM-DD') and ana_zone_moni_day.code = ''
        -->
        where 1=1
        <choose>
            <when test="zoneNo != null and zoneNo != ''">
                and gis_exist_zone.p_code = #{zoneNo}
            </when>
        </choose>
        <if test="begD != null and begD != ''">
            and to_char("completdate",'YYYY-MM-DD') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char("completdate",'YYYY-MM-DD') &lt;= #{endD}
        </if>
        <if test="rank != null and rank != ''">
            and rank= #{rank}
        </if>
        <if test="pageCount!=null and page !=null">
            limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
        </if>
        )t
        union all
        select count(*) as rows, '' as  zoneNo,'' as name,'' as rank,'' as position,'' as status,'','','',0,0,0 from gis_exist_zone
        where 1=1
        <choose>
            <when test="zoneNo != null and zoneNo != ''">
                and gis_exist_zone.p_code = #{zoneNo}
            </when>
        </choose>
        <if test="begD != null and begD != ''">
            and to_char("completdate",'YYYY-MM-DD') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char("completdate",'YYYY-MM-DD') &lt;= #{endD}
        </if>
        <if test="rank != null and rank != ''">
            and rank= #{rank}
        </if>
    </select>

    <select id="queryZonePointList"  parameterType="com.koron.inwlms.bean.DTO.baseInf.ZonePointDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZonePointVO">
        select * from(
            select 0 as rows, gis_zone_point.id as "refID","zoneNo",gis_exist_zone.name as "zoneName","pointNo",gis_scada_station.name as "pointName",gis_zone_point.type,"BatchNo","createBy",to_char( "createTime",'YYYY-MM-dd HH:MM:SS') as "createTime"
            from gis_zone_point
            left join gis_exist_zone on gis_zone_point."zoneNo" = gis_exist_zone.p_code
            left join gis_scada_station on gis_zone_point."pointNo" = gis_scada_station.p_code
            where 1=1
            <if test="zoneNo != null and zoneNo != ''">
                and "zoneNo" like '%'||#{zoneNo}||'%'
            </if>
            <if test="pointNo != null and pointNo != ''">
                and "pointNo" like '%'||#{pointNo}||'%'
            </if>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
            <if test="pageCount !=null and page !=null">
                limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
            </if>
        )t
        union all
        select count(*) as rows, 0 as "refID", '' as zoneNo ,'' as zoneName, '' as pointNo,'' as pointName,'' as type, '' as BatchNo,'' as createBy,'' as createTime from gis_zone_point
        where 1=1
        <if test="zoneNo != null and zoneNo != ''">
            and "zoneNo"=#{zoneNo}
        </if>
        <if test="pointNo != null and pointNo != ''">
            and "pointNo"=#{pointNo}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
    </select>

    <select id="queryZonePointHistory"  parameterType="com.koron.inwlms.bean.DTO.baseInf.ZonePointDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZonePointHisVO">
        select * from(
        select
        0 as rows,"BatchNo","originRow",row,integrity,accuracy,availability,timely,consistency,status,"createBy",to_char("createTime",'YYYY-MM-DD')as
        createTime from gis_zoneconfhistory
        where 1=1
        <if test="begD != null and begD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &lt;= #{endD}
        </if>
            and type = 'L103500001'
        limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
        )t
        union all
        select count(*) ,'',0,0,0,0,0,0,0,0,'',''from gis_zoneconfhistory
        where 1=1
        <if test="begD != null and begD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &lt;= #{endD}
        </if>
            and type = 'L103500001'
    </select>

    <select id="queryZonePointDet"  resultType="com.koron.inwlms.bean.VO.baseInf.ZonePointVO">
        select * from gis_zone_point
        where 1=1 and id=#{refID}
    </select>

    <update id="updateZonePointDet" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZonePointDTO">
    update gis_zone_point
    <set>
        <if test="zoneNo != null">
            "zoneNo" = #{zoneNo},
        </if>
        <if test="pointNo != null">
            "pointNo" = #{pointNo},
        </if>

         <if test="updateBy != null">
            "updateBy" = #{updateBy},
        </if>
        "updateTime"=now()
    </set>
    where id = #{refID}
    </update>

    <delete id="deleteZoneMeterRel">
           delete from gis_zone_meter where id = #{refID}
     </delete>

    <delete id="deleteZonePointByBatch">
           delete from gis_zoneconfhistory where "BatchNo" = #{BatchNo} and type = 'L103500001'
           delete from gis_zonepointrelation where "BatchNo" = #{BatchNo}
     </delete>

    <select id="queryZoneMeterList"  parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneMeterDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZoneMeterVO">
        select * from(
        select 0 as rows,gis_zone_meter.id as "refID","zoneNo",gis_exist_zone.name as "zoneName",gis_meter.p_code as"meterNo",gis_meter.accountid as "userNo",type,"BatchNo" from gis_zone_meter
        left join gis_exist_zone on gis_exist_zone.p_code = gis_zone_meter."zoneNo"
        left join gis_meter on gis_zone_meter."meterNo" = gis_meter.p_code
        where 1=1
            <if test="zoneNo != null and zoneNo != ''">
                and "zoneNo"=#{zoneNo}
            </if>
            <if test="meterNo != null and meterNo != ''">
                and "meterNo"=#{meterNo}
            </if>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
        <if test="pageCount !=null and page !=null">
            limit #{pageCount} OFFSET #{pageCount}*(#{page}-1)
        </if>
        )t
        union all
        select count(*),0 as refID, '' as zoneNo,'' as zoneName, '' as meterNo,'' as userNo,'' as type,'' as BatchNo from gis_zone_meter
        where 1=1
            <if test="zoneNo != null and zoneNo != ''">
                and "zoneNo"=#{zoneNo}
            </if>
            <if test="meterNo != null and meterNo != ''">
                and "meterNo"=#{meterNo}
            </if>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
    </select>

    <select id="queryZoneMeterHistory"  parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneMeterDTO" resultType="com.koron.inwlms.bean.VO.baseInf.ZoneMeterHisVO">
        select * from(
        select
        0 as rows,"BatchNo","originRow",row,integrity,accuracy,availability,timely,consistency,status,"createBy",to_char("createTime",'YYYY-MM-DD')as
        createTime from gis_zoneconfhistory
        where 1=1
        <if test="begD != null and begD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &lt;= #{endD}
        </if>
            and type ='L103500002'
        )t
        union all
        select
        count(*),'',0,0,0,0,0,0,0,0,'','' from gis_zoneconfhistory
        where 1=1
        <if test="begD != null and begD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &gt;= #{begD}
        </if>
        <if test="endD != null and endD != ''">
            and to_char( "createTime",'YYYY-MM-dd') &lt;= #{endD}
        </if>
            and type ='L103500002'
    </select>

    <select id="queryZoneMeterDet"  resultType="com.koron.inwlms.bean.VO.baseInf.ZoneMeterVO">
        select * from gis_zone_meter
        where 1=1 and id=#{refID}
    </select>

    <update id="updateZoneMeterDet" parameterType="com.koron.inwlms.bean.DTO.baseInf.ZoneMeterDTO">
        update gis_zone_meter
        <set>
            <if test="zoneNo != null">
                "zoneNo" = #{zoneNo},
            </if>
            <if test="meterNo != null">
                "meterNo" = #{meterNo},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="updateBy != null">
                "updateBy" = #{updateBy},
            </if>
            "updateTime"=current_timestamp
        </set>
        where id = #{refID}
    </update>

    <delete id="deleteZoneMeterByBatchNo">
           delete from gis_zoneconfhistory where "BatchNo" = #{BatchNo} and type ='L103500002'
           delete from gis_zone_meter where "BatchNo" = #{BatchNo}
     </delete>

</mapper>