<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.report.AnalysisReportMapper">

<select id="queryZoneData" parameterType="com.koron.inwlms.bean.DTO.report.ZoneMnfDTO" resultType="com.koron.inwlms.bean.VO.leakageControl.GisExistZoneVO">
 select name as name, rank as rank, p_code as pcode  from gis_exist_zone
 <trim prefix="where" prefixOverrides="and|or">
   <if test="zoneGrade != null and zoneGrade != '' ">and rank = #{zoneGrade}</if>
   <if test="zoneCode != null and zoneCode != '' "> and p_code = #{zoneCode}</if>
  </trim>
  limit #{pageCount} OFFSET #{pageCount}*(#{page}-1);
 </select>
 
 <select id="queryZoneDataNum" parameterType="com.koron.inwlms.bean.DTO.report.ZoneMnfDTO" resultType="java.lang.Integer">
  select count(*)  from gis_exist_zone
 <trim prefix="where" prefixOverrides="and|or">
   <if test="zoneGrade != null and zoneGrade != '' ">and rank = #{zoneGrade}</if>
   <if test="zoneCode != null and zoneCode != '' "> and p_code = #{zoneCode}</if>
  </trim>
 </select>
 
 <select id="queryGisLeak" resultType="com.koron.inwlms.bean.VO.report.statisticalReport.GisLeak">
 select "DIAMETER", "MATERIAL", "LEAK_ID" as "LEAKID", "LEAKCOND", "REP_DATE" as "REPDATE", "P_CODE" as "PCODE", "WATER_LEAK" as "WATERLEAK", "YEAR_PIPE"
 from gis_leak
 </select>
 
 <select id="queryHourFlow" parameterType="com.koron.inwlms.bean.DTO.report.ZoneHourDTO" resultType="com.koron.inwlms.bean.VO.report.statisticalReport.HourFlowVO">
 select a.code,round( a."analysisValue"/b.precision :: NUMERIC, 2 ) as value,a."analysisDate" as "time",a."zoneNo"
			from nw_zone_moni_min a left join lc_app_dim_indicator b on a.code = b.code
			where a.code = #{code} and a."zoneNo" = #{zoneCode} and a."analysisDate" &gt;= #{startTime}
			and a."analysisDate" &lt;= #{endTime} 
 </select>

 
	
</mapper> 