<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.indicator.mapper.ZoneLossIndicatorMapper">

	<select id="getDMoniMinFlow" resultType="com.koron.indicator.bean.MnfAndMnfTimeInfo">
		select to_char("analysisDate",'yyyy-mm-dd hh24:mi:ss') as time,value
		from "NW_monitorpoint_hour" where id not in
		(select a.id from "NW_monitorpoint_hour" a
		inner join "NW_monitorpoint_hour" b on a."stationCode" = b."stationCode"
		and a.value>b.value) and code = #{code}
		and "stationCode" = #{stationCode} and "analysisDate" &gt;= #{startTime}
		and "analysisDate" &lt; #{endTime}
	</select>

	<!-- <select id="getDMoniMinFlow" resultType="java.lang.Double">
		SELECT 
		min(value) from "NW_monitorpoint_hour"
		where "stationCode" = #{stationCode}
		and "analysisDate" &gt;= #{startTime}
		and "analysisDate" &lt; #{endTime}
		and code = #{code}
		group by "stationCode"
	</select> -->
	
	<select id="queryVZoneInfoByNo" parameterType="java.lang.String" resultType="com.koron.indicator.bean.VZoneInfo">
		SELECT "pCode" as "zoneNo","vType","masCode","secCode"
		from "GIS_exist_vzone" where "pCode" = #{zoneNo}
	</select>
	
	<select id="getDMnfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day"
		where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DMNF'
	</select>
	
	<select id="getMMnfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MMNF'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYMnfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YMNF'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getMIndicatorAvg" resultType="java.lang.Double">
		SELECT avg(value)
		from "ANA_zone_day" where "zoneNo" = #{zoneNo}
		and code = #{code} and to_char("analysisDate",'yyyyMM') = #{month} ||''
		group by code
	</select>
	
	<select id="getMWnIndicatorAvg" resultType="java.lang.Double">
		SELECT avg(value)
		from "ANA_company_day"
		where code = #{code} and to_char("analysisDate",'yyyyMM') = #{month} ||''
		group by code
	</select>
	
	<select id="getYIndicatorAvg" resultType="java.lang.Double">
		SELECT avg(a.value)
		from "ANA_zone_month" a, "APP_dim_month" b 
		where a.yearMonth = b.id and a.code = #{code}
		and b.year = #{year}
		group by a.code
	</select>
	
	<select id="getYWnIndicatorAvg" resultType="java.lang.Double">
		SELECT avg(a.value)
		from "ANA_company_month" a, "APP_dim_month" b 
		where a.yearMonth = b.id and a.code = #{code}
		and b.year = #{year}
		group by a.code
	</select>
	
	<select id="getDMnflfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DMNFLF'
	</select>
	
	<select id="getDMnftByNo" resultType="java.lang.Integer">
		SELECT round( a.value/b.precision :: NUMERIC, 2 )
		from "ANA_zone_day" a, "LC_APP_dim_indicator" b
		where a.code = b.code and a.analysisDate = #{date}
		and a."zoneNo" = #{zoneNo} and a.code like '%' || 'DMNFT'
	</select>
	
	<select id="getHMoniPress" resultType="java.lang.Integer">
		SELECT value
		from "NW_monitorpoint_hour"
		where "analysisDate" &gt;= #{startTime}
		and "analysisDate" &lt; #{endTime}
		and "stationCode" = #{stationCode} and code = #{code}
	</select>
	
	<select id="getDAznpByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DAZNP'
	</select>
	
	<select id="getDDnfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DDNF'
	</select>
	
	<select id="getDFwssitdfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_balance_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DFWSSITDF'
	</select>
	
	<select id="getMFwssitdfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MFWSSITDF'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYFwssitdfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YFWSSITDF'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDLaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DLA'
	</select>
	
	<select id="getMLaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLA'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYLaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLA'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getMIndicatorSum" resultType="java.lang.Double">
		SELECT sum(value)
		from "ANA_zone_day" where "zoneNo" = #{zoneNo}
		and code = #{code} and to_char("analysisDate",'yyyyMM') = #{month} ||''
		group by code
	</select>
	
	<select id="getMWnIndicatorSum" resultType="java.lang.Integer">
		SELECT sum(value)
		from "ANA_company_day"
		where code = #{code} and to_char("analysisDate",'yyyyMM') = #{month} ||''
		group by code
	</select>
	
	<select id="getYWnIndicatorSum" resultType="java.lang.Integer">
		SELECT sum(a.value)
		from "ANA_company_year" a, "APP_dim_month" b 
		where a.yearMonth = b.id and a.code = #{code}
		and b.year = #{year}
		group by a.code
	</select>
	
	<select id="getYIndicatorSum" resultType="java.lang.Double">
		SELECT sum(a.value)
		from "ANA_zone_year" a, "APP_dim_month" b 
		where a.yearMonth = b.id and a.code = #{code}
		and b.year = #{year}
		group by a.code
	</select>
	
	<select id="getMNocmByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_base_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MNOCM'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYNocmByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_base_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YNOCM'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getMFtplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_base_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MFTPL'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYFtplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_base_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YFTPL'
		and b.year = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnLaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DLA'
	</select>
	
	<select id="getDWnFwssitdfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DFWSSITDF'
	</select>
	
	<select id="getMWnLaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLA'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getMWnFwssitdfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MFWSSITDF'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnLaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLA'
		and b.year = #{yearMonth}
	</select>
	
	<select id="getYWnFwssitdfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YFWSSITDF'
		and b.year = #{year}
	</select>
	
	<select id="getMWnNocmByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MNOCM'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnNocmByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YNOCM'
		and b.year = #{year}
	</select>
	
	<select id="getMWnFtplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MFTPL'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnFtplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YFTPL'
		and b.year = #{year}
	</select>
	
	<select id="getDWnMnfByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DMNF'
	</select>
	
	<select id="getMWnMnfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MMNF'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnMnfByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YMNF'
		and b.year = #{year}
	</select>
	
	<select id="getYWnFtplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YMNF'
		and b.year = #{year}
	</select>
	
	<select id="getDWlByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_balance_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DWL'
	</select>
	
	<select id="getMWlByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MWL'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYWlByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YWL'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnWlByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DWL'
	</select>
	
	<select id="getMWnWlByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MWL'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnWlByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YWL'
		and b.year = #{year}
	</select>
	
	<select id="getDLcaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DLCA'
	</select>
	
	<select id="getMLcaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLCA'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYLcaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLCA'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnLcaByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DLCA'
	</select>
	
	<select id="getMWnLcaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLCA'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnLcaByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLCA'
		and b.year = #{year}
	</select>
	
	<select id="getDAspByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_moni_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DASP'
	</select>
	
	<select id="getMAspByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_moni_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MASP'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYAspByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_moni_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YASP'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnAspByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DASP'
	</select>
	
	<select id="getMWnAspByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MASP'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnAspByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YASP'
		and b.year = #{year}
	</select>
	
	<select id="getDLplByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DLPL'
	</select>
	
	<select id="getMLplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLPL'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYLplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLPL'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnLplByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DLPL'
	</select>
	
	<select id="getMWnLplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MLPL'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnLplByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YLPL'
		and b.year = #{year}
	</select>
	
	<select id="getDNrwByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_balance_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DNRW'
	</select>
	
	<select id="getMNrwByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MNRW'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYNrwByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YNRW'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnNrwByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DNRW'
	</select>
	
	<select id="getMWnNrwByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MNRW'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnNrwByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YNRW'
		and b.year = #{year}
	</select>
	
	<select id="getDUfwcByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_zone_balance_day" where analysisDate = #{date}
		and "zoneNo" = #{zoneNo} and code like '%' || 'DUFWC'
	</select>
	
	<select id="getMUfwcByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MUFWC'
		and b."yearMonth" = #{yearMonth} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getYUfwcByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_zone_balance_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YUFWC'
		and b.year = #{year} and a."zoneNo" = #{zoneNo}
	</select>
	
	<select id="getDWnUfwcByNo" resultType="java.lang.Integer">
		SELECT value
		from "ANA_company_day" where analysisDate = #{date} 
		and code like '%' || 'DUFWC'
	</select>
	
	<select id="getMWnUfwcByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_month" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'MUFWC'
		and b."yearMonth" = #{yearMonth}
	</select>
	
	<select id="getYWnUfwcByNo" resultType="java.lang.Integer">
		SELECT a.value
		from "ANA_company_year" a, "APP_dim_month" b 
		where a."yearMonth" = b.id and a.code like '%' || 'YUFWC'
		and b.year = #{year}
	</select>
</mapper>