<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.report.waterReport.WaterReportMapper">
 <select id="queryBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_base_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_base_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	</select>
	
	<select id="queryZoneFL" resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select *,p_code as code
		from gis_exist_zone
		where rank = 'W101640001'
	</select>
	
	<select id="queryZoneSL" resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select *,p_code as code
		from gis_exist_zone
		where rank = 'W101640002'
	</select>
	
	<select id="queryWBBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_balance_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_balance_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_balance_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_balance_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1 
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		    order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryZoneLossIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		 order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo"
			from ana_base_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		    order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryZoneMoniIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_moni_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_moni_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	
	
	
	
	
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_moni_month  a left join(
				select id,"yearMonth" from app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_moni_year a left join lc_app_dim_indicator b on a.code = b.code			
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
		   order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryLeakIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_leak_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_leak_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	
	
	
	
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_leak_month a left join(
				select id,"yearMonth" from app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_leak_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
		   order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryCompanyIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId"
			from ana_company_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId"
			from ana_company_year a left join lc_app_dim_indicator c on a.code = c.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		   order by b."yearMonth" asc
		</if>
	</select>
	
</mapper> 