<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.inwlms.mapper.indexData.IndexMapper">
   <select id="queryBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_base_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_base_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	</select>
	
	<select id="queryZoneFL" resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select *,p_code as code
		from gis_exist_zone
		where rank = 'W101640001'
	</select>
	
	<select id="queryZoneSL" resultType="com.koron.inwlms.bean.VO.common.IndicatorVO"> 
		select *,p_code as code
		from gis_exist_zone
		where rank = 'W101640002'
	</select>
	
	<select id="queryWBBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_balance_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_balance_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_balance_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_balance_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1 
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		    order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryZoneLossIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		 order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo"
			from ana_base_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		    order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryZoneMoniIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_zone_moni_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_zone_moni_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	
	
	
	
	
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_moni_month  a left join(
				select id,"yearMonth" from app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_zone_moni_year a left join lc_app_dim_indicator b on a.code = b.code			
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
		   order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryLeakIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo",d.name as name
			from ana_leak_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo",d.name as name
			from ana_leak_year as a 
			left join lc_app_dim_indicator as c on a.code = c.code
			left join gis_exist_zone as d on a."zoneNo" = d.p_code
			where a.year &gt;= #{startTime} and a.year &lt;= #{endTime}
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		order by round( a.value/c.precision :: NUMERIC, 2 ) desc
	
	
	
	
		<!-- select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_leak_month a left join(
				select id,"yearMonth" from app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from ana_leak_year a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
		   order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if> -->
	</select>
	
	<select id="queryCompanyIndicData" parameterType="com.koron.inwlms.bean.DTO.indexData.IndicatorNewDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 1">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId"
			from ana_company_month as a 
			left join app_dim_month as b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator as c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,a.year as "timeId"
			from ana_company_year a left join lc_app_dim_indicator c on a.code = c.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="startTime != null and endTime !=null and timeType != null and timeType == 2">
			and a.year &gt;= #{startTime} 
			and a.year &lt;= #{endTime}
		</if>
		<if test="timeType != null and timeType == 1">
			and b."yearMonth" &gt;= #{startTime} and b."yearMonth" &lt;= #{endTime}
		   order by round( a.value/c.precision :: NUMERIC, 2 ) desc
		</if>
	</select>
	
	
	 <!-- 查询任务列表 -->
    <select id="queryTaskList"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="com.koron.inwlms.bean.VO.indexData.TaskMsgVO">
       select "processing".* ,"warninginf"."alarmType","warninginf"."objectCode"
		from app_warningprocessing as "processing"
		left join app_warninginf as "warninginf" on "processing"."warningCode" = "warninginf".code
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
	   order by "warninginf"."alarmTime" desc

    </select>
    
    <!-- 查询任务列表条数 -->
    <select id="queryTaskListNum"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="java.lang.Integer">
       select count(*)
		from app_warningprocessing as "processing"
		left join app_warninginf as "warninginf" on "processing"."warningCode" = "warninginf".code
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
     <!-- 查询任务完成数量 -->
    <select id="queryComRateNum"   parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"   resultType="java.lang.Integer">
        select count(*) as "compleNum"
        from app_warningprocessing as "processing"
		left join app_warninginf as "warninginf" on "processing"."warningCode" = "warninginf".code
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
        and "processing".state=#{state} 
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
    <!-- 查询预计完成时间大于实际完成时间的条数-->
    <select id="queryActualTaskListNum"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="java.lang.Integer">
       select count(*)
       from app_warningprocessing as "processing"
       left join  app_warninginf as "warninginf" on "warninginf".code="processing"."warningCode"
        where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and "processing"."expectFinishTime" &gt;= "processing"."actualFinishTime"
       <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
    
    
     <!-- 根据分区日期查询有多少个监测点报警的信息 -->
    <select id="queryCheckWarningNum"   parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"   resultType="java.lang.Integer">
         select  count(*)
		from app_warninginf as "warninginf"
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and  "warninginf"."alarmType" in ('L102010005','L102010002','L102010004')
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}   
		</foreach> 
		</if>
    </select>
    
    <!-- 查询噪声报警的个数,超限报警个数 ,超限报警个数 -->
    <select id="queryTypeWarningNum"   parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"   resultType="java.lang.Integer">
        select  count(*)
		from app_warninginf as "warninginf"
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and  "warninginf"."alarmType"= #{alarmType}
         <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
    
     <!-- 查询检测点信息列表 -->
    <select id="queryCheckWarningMsg"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="com.koron.inwlms.bean.VO.indexData.TaskMsgVO">
    	select "warninginf".content ,"warninginf"."alarmType","processing".state,"warninginf"."objectCode",
    	case when "warninginf".code is null then  '否' else  '是'  end as initiate
		from app_warninginf as "warninginf"
		left join app_warningprocessing as "processing" on "processing"."warningCode" = "warninginf".code
		left join gis_exist_zone  as "zone" on "zone".p_code = "warninginf"."areaCode"
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and  "warninginf"."alarmType" in ('L102010005','L102010002','L102010004')
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
	   order by "warninginf"."alarmTime" desc
    </select>
    
    <!-- 查询预计完成时间大于实际完成时间的条数-->
    <select id="queryProActualTaskListNum"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="java.lang.Integer">
       select count(*)
		from app_warningprocessing as "processing"
		left join app_warninginf as "warninginf" on "processing"."warningCode" = "warninginf".code
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and "processing"."expectFinishTime" &gt;= "processing"."actualFinishTime"
       and  "warninginf"."alarmType" in ('L102010005','L102010002','L102010004')
       <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
      <!-- 计算监测点的任务总个数-->
    <select id="queryProTaskListNum"  parameterType="com.koron.inwlms.bean.DTO.indexData.WarningInfoDTO"  resultType="java.lang.Integer">
		select count(*)
		from app_warninginf as "warninginf"
		left join app_warningprocessing as "processing" on "processing"."warningCode" = "warninginf".code
       where "warninginf"."alarmTime"  &gt;  to_date(#{taskCreateTime},'YYYY-MM-DD HH24:MI:SS')
       and "warninginf"."alarmTime" &lt;  to_date(#{searchTaskEndTime},'YYYY-MM-DD HH24:MI:SS')
       and  "warninginf"."alarmType" in ('L102010005','L102010002','L102010004')
        <if test="areaZoneList != null and areaZoneList.size > 0">
			and "warninginf"."areaCode" in 
			<foreach item="item" collection="areaZoneList" separator="," open="(" close=")" index="">    
			#{item}    
		</foreach> 
		</if>
    </select>
    
    
</mapper>