@font-face {
	font-family: "Roboto-Thin";
	src: url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200; }
  @font-face {
	font-family: "Roboto-Light";
	src: url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300; }
  @font-face {
	font-family: "Roboto";
	src: url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400; }
  @font-face {
	font-family: "Roboto-Medium";
	src: url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500; }
  @font-face {
	font-family: "Roboto-Bold";
	src: url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700; }

html {
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-weight: normal;
}
#app * {
	font-family: "Roboto", sans-serif;
}
body {
	width: 100%;
	height: 100%;
	color: #333;
	-webkit-tap-highlight-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400; }
  
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit; }
  
  h1 {
	font-size: 4.2rem;
	line-height: 4.62rem;
	margin: 2.1rem 0 1.68rem 0; }
  
  h2 {
	font-size: 3.56rem;
	line-height: 3.916rem;
	margin: 1.78rem 0 1.424rem 0; }
  
  h3 {
	font-size: 2.92rem;
	line-height: 3.212rem;
	margin: 1.46rem 0 1.168rem 0; }
  
  h4 {
	font-size: 2.28rem;
	line-height: 2.508rem;
	margin: 1.14rem 0 0.912rem 0; }
ol,
ul,
li,
dl,
dt,
dd {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a,
a:link,
a:visited,
a:hover {
	text-decoration: none;
	color: inherit;
}

.clearfloat:after {
	content: "";
	display: table;
	height: 0;
	clear: both;
	visibility: hidden;
}

.lt {
	float: left;
	display: inline;
}

.rt {
	float: right;
	display: inline;
}

.out {
	display: none;
}

/*input:focus {
	background-color: transparent;
}*/

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

textarea {
	overflow: auto;
	resize: none;
}

textarea,
input {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}


/* WebKit browsers*/

input::-webkit-input-placeholder {
	color: #999;
	font-size: 13px;
}


/* Mozilla Firefox 4 to 18*/

input:-moz-placeholder {
	color: #999;
	font-size: 13px;
}


/* Internet Explorer 10+*/

input:-ms-input-placeholder {
	color: #999;
	font-size: 13px;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
	background: transparent;
	color: #333 !important;
	font-size: 13px;
}

input,
textarea {
	-webkit-appearance: none;
	font-size: 13px;
}

.normal-btn {
	border: 0;
	background: #0093dd;
	color: #fff;
	width: 100%;
	font-size: 1em;
	height: 2rem;
	line-height: 2rem;
	border-radius: 4px;
}

.average {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.kr-btn-primary {
	background-color: #3193f5;
}

.kr-btn-sub {
	background-color: #31b4f5;
}

.kr-btn-warm {
	background-color: #faa646;
}

.kr-btn-danger {
	background-color: #f55e59;
}

.kr-btn-success {
	background-color: #49cc7b;
}

.kr-btn-gray {
	background-color: gray;
}

.kr-splitLine {
	background-color: #e5e5e5;
}


/*input框*/

::-webkit-input-placeholder
,::-moz-placeholder
,::-ms-input-placeholder{
	color: #b2b2b2;
	font-size: 13px;
}

.layui-tab-brief>.layui-tab-title .layui-this {
	color: #3193f5;
}

.layui-tab-brief>.layui-tab-title .layui-this:after,
.layui-tab-brief>.layui-tab-more li.layui-this:after {
	border-bottom: 2px solid #3193f5;
}


/* layui-tab */

.layui-tab {
	margin: 0
}


/* layui-tab-content */

.layui-tab-content {
	padding: 0
}

.layui-tab-title .layui-this:after {
	height: 40px;
}


/* 带下划线可点击样式 */

.can-click-style {
	color: #3193f5;
	text-decoration: underline;
	cursor: pointer;
}


/* layui - input高度 */

.layui-input,
.layui-textarea,
.layui-select {
	height: 30px;
	font-size: 12px;
}

.layui-form-label {
	padding-top: 4px;
}


/* ifarme内容边距 -公用*/

.contentPadding {
	padding: 0;
}


/* 搜索条件 和table 样式*/

.search-box {
	padding-top: 10px;
	border-left: 1px solid #ebebeb;
}

.search-box form {
	width: calc(100% - 226px);
	overflow: initial;
}

.layui-form-label {
	width: 6rem;
	padding: 5px 6px;
}


/* .search-box .layui-form-item .layui-inline {
    width: 16rem;
}

.layui-form-item .layui-input-inline {
    width: 9rem;
} */

.position-icon {
	position: absolute;
	right: 10px;
	top: 6px;
	color: #3193f5;
	cursor: pointer;
}

.search-btn {
	text-align: right;
	padding: 0 10px;
	/*width: 11%;*/
	width: 226px;
}

.cascade {
	width: 45%;
}

.span-inline {
	display: inline-block;
    width: 10%;
    line-height: 30px;
    text-align: center;
}

.icon-spacing {
	padding: 0 5px;
	color: #3193f5;
	cursor: pointer;
}

.layui-table-page .layui-laypage {
	float: right;
}


/*滚动条*/

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	/*-ms-scrollbar-face-color: #3193F6;*/
	background-color: #e1e3e6;
	/* background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); */
}

::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); */
	border-radius: 5px;
	background-color: #fff;
}
/***form表单样式搜索条件***/

.search-box .layui-form-item .layui-inline {
	width: 350px;
}

.search-box .layui-form-label {
	width: 110px;
}

.search-box .layui-input-block {
	margin-left: 110px;
}

.position-padding {
	padding-right: 30px;
}


/***弹框内容下边框***/

.layui-layer-page .layui-layer-content {
	border-bottom: 1px solid #eee;
}

.ztree ul.level1 {
	padding-left: 10px;
}


/* .ztree li a.level1+ul {
    font-weight: bold;
} */

.layui-table-tool {
	min-height: 38px;
	padding: 5px 15px;
	line-height: 26px;
	background: white;
}

.layui-table-tool-self {
	top: 5px;
	right: 10px;
}

.layui-table-cell {
	height: 22px;
	line-height: 22px;
}

.layui-table-view {
	margin: 0;
}

.search-box .change-searchfrom {
	height: 40px;
}

.telescopic-panel {
	width: 100%;
	height: 20px;
	border-top: 1px solid #ebebeb;
	position: relative;
	background: #fff;
}

.telescopic-panel .push-btn {
	margin: 0 auto;
	width: 68px;
	height: 16px;
	border: 1px solid #ebebeb;
	border-top: 0;
	text-align: center;
	color: #333;
	border-radius: 0px 0px 2px 2px;
	cursor: pointer;
}

.layui-table-main {
	background: #fff;
}


/*** 针对弹出右边地图时对搜索条件做的判断   ****/

.width89 {
	/*屏幕1920*/
	width: 89% !important;
}

.width85 {
	/*屏幕1920 但是有地图*/
	width: 85% !important;
}

.width83 {
	/*屏幕1600 但是有地图*/
	width: 83% !important;
}

.width79 {
	width: 79% !important;
}

.width78 {
	width: 78% !important;
}
.width69{
	width: 69% !important;
}
.width11 {
	width: 11% !important;
}

.widthAuto {
	width: auto !important;
}

.width260 {
	width: 260px !important;
}

.width220 {
	width: 220px !important;
}
.hasMapWidth{
	width: calc(100% - 220px) !important;
}
.hasMapBtnWidth{
	width: 220px !important;
}
/*************/
.area-type,.sic_selection {
	position: relative;
}

.area-list,.sic-list {
	display: none;
	position: absolute;
	left: 0;
	top: 42px;
	padding: 5px 0;
	z-index: 899;
	min-width: 100%;
	border: 1px solid #d2d2d2;
	max-height: 300px;
	overflow-y: auto;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	box-sizing: border-box;
}

.area-list-dd ,.sic-list-dd{
	padding: 0 10px;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.area-list-dd:hover,.sic-list-dd:hover {
	background-color: #F2F2F2;
}
.layui-layer-close{
	display: inline-block;
}
.overflowSub{
	height: 34px;
    overflow-x: hidden;
}
.mustFill:before{
	display: inline-block;
    content: "\e636";
    width: 12px;
    font-family: iconfont;
    color: red;
    font-size: 14px;
}
:-webkit-full-screen {
  background-color: #fff  !important;
}

:-moz-full-screen {
  background-color:#fff  !important;
}

:-ms-fullscreen {
  background-color: #fff  !important;
}

:fullscreen {
  background-color: #fff  !important;
}
.iconcircle,.iconfollow{
	color:#3193f5;
	cursor: pointer;
}

.layui-upload .layui-upload-list .layui-table th,
.layui-upload .layui-upload-list .layui-table td{
	padding: 4px 15px;
}
.validateWarn{
	border: 1px solid red;
}
#selectInput{
	padding-right: 26px;
}
.access-btn {
	display: none;
}
.headTab{
	width: calc(100% - 50px);
}
.closeTabBtn{
	z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 40px;
    width: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.closeAllTab{
	position: absolute;
	top:10px;
	right: 10px;
	display:none
}
input[data-type='Day']{
	padding: 0 0 0 5px;
}
input::-ms-clear, 
input::-ms-reveal{
    display: none;
}
/*.headTab li:not(:first-child){
	width: 150px;
}*/
.overflowForm{
	overflow:inherit !important;
}
.hightLight{
-webkit-animation: twinkling 1s infinite 0s ease-in-out alternate;
animation:twinkling 1s infinite 0s ease-in-out alternate;
background: #E31b21;

}
.layui-table-cell{
	padding: 0 5px;
}
.layui-table-sort{
	margin-left: 0;
	margin-right: 12px;
}
.layui-table-sort .layui-edge{
	left:6px;
	border-width:6px;
}
.layui-table-sort .layui-table-sort-asc{
	top:2px;
}
.layui-table-sort .layui-table-sort-desc{
	bottom:4px;
}
.iconfont.table-tips{
	font-size: 14px;
}
.confirmContent{
	word-wrap: break-word;
}
.underLine{
	text-decoration: underline;
}
.echartsContent{
	/*width:700px;
	height:400px; */
	width:100%;
	height:100%;
	display: none;
}
.echartsContent .popcontent,.echartsContent .popcontent .content{
	width: 100%;
	height:calc(100% - 40px);
	overflow-x: hidden;
}
.echartsContent .popcontent .content{
	/* width: 700px;
	height:400px; */
	width: 100%;
	height:100%;
}
.layui-table-tips-c:before{
	right: 1px;
}
.headTab.layui-tab-title .layui-this{
	color: #246eb9;
}
.layui-table .uploadDelete{
	background: transparent;
	color: #246eb9;
	margin: 0;
}
@-webkit-keyframes twinkling{
	0%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
@keyframes twinkling{
	0%{
		opacity:0.5
	}
	100%{
		opacity:1
	}

}

input[disabled]{
	cursor:not-allowed;
	background: #f5f5f5;  
  }
.redInput{
	border: 1px solid red;
}
.tableTab_box{
	position:relative;
	background: #fff;
	min-height: 400px;
}
.layui-table-tool-panel li{
	min-height: 30px;
}
select::-ms-expand {
    display: none;
}
.iconsp_danweiguanli-copy:before{
	color: #3193f5;
}
.layui-table-click{
	background-color: #ffe9d0 !important;
}
.layui-table-body tr:hover,.layui-table-hover{
	background-color:#dff1ff !important;
}
/** 下拉框不显示灰色使用此属性*/
.select-not-gray ~ .layui-form-select dl .layui-select-tips:not(.layui-this) {
	color:#333333 !important;
}
.select-not-gray ~ .layui-form-select .layui-select-title input::placeholder {
	color: #000000;
}
.pieBox{
	min-height:400px
}
.search-ditu {
	position: absolute;
	right: 10px;
	top: 7px;
	color: #3193f5;
	cursor: pointer;
}

.non{display: none;}
/* 向下箭头 */
.iconfont.icondie:before{
	color:green;
}
/* 向上箭头 */
.iconfont.iconzhang:before{
	color: red;
}
/* 报警样式 */
.warnAlarm{
    color: red;
}
/*搜索框*/
.dmaNo-list1,
.dmaNo-list2,
.srNo-list {
	display: none;
	position: absolute;
	left: 0;
	top: 42px;
	padding: 5px 0;
	z-index: 899;
	min-width: 100%;
	border: 1px solid #d2d2d2;
	max-height: 300px;
	overflow-y: auto;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	box-sizing: border-box;
}

.dmaNo-list-dd1,
.dmaNo-list-dd2,
.srNo-list-dd {
	padding: 0 10px;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.dmaNo-list-dd1:hover,
.dmaNo-list-dd2:hover,
.srNo-list-dd:hover {
	background-color: #F2F2F2;
}
.layui-table-view .layui-table th,
.layui-table-view .layui-table td {
	border: 1px solid #e6e6e6;
}

.content{width: 100%;
	overflow: hidden;}
#search-form{
	/*overflow: hidden !important;*/
}
.layui-table th{background-color: #F5F6F8;}
.layui-form{margin-top: -1px;}
.layui-table{margin: 0;}
.radioBox{
	width: 100%;
}
.radioBox input{
	display: none;
}
.radioBox label{
	cursor: pointer;
	position: relative;
	height: 30px;
	display: inline-block;
	line-height: 30px;
}
.radioBox label::before{
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid rgba(193, 200, 211, 1);
	margin-right: 2px;
	vertical-align: middle;
}

/* 选中 */
.radioBox input:checked+label::after{
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	bottom: 8px;
	background-color: #3aa1ff;
}
.radioBox .label1::after{
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	bottom: 8px;
	background-color: #3aa1ff;
}
.radioBox .label11::after{
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	bottom: 8px;
	background-color: #3aa1ff;
}