.popbox {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
}

.popbox .popList {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 66.6666rem;
	border-radius: .5rem;
	border: 1px solid #d2d2d2;
	background: #fff;
	margin-top: -20.8333rem;
	margin-left: -33.333rem;
	height: 41.66666rem;
}

.popbox .popList .popTitle, .popbox .popList .popContent, .popbox .popList .popFooter {
	padding: .8333rem;
}

.popbox .popList .popTitle {
	border-bottom: 1px solid #ccc;
	font-size: 1.1666rem;
}

.popbox .popList .popTitle span.close {
	cursor: pointer;
	color: #ccc;
	opacity: 1;
	font-size: 1.5rem;
}

.popbox .popList .popTitle span.close:hover {
	color: #000;
}

.popbox .popList .popContent {
	font-size: 1rem;
}

.popbox .popList .popContent .average {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.popbox .popList .popContent .conditionBox {
	margin-bottom: .8333rem;
}

.popbox .popList .popContent .conditionBox .condition-name {
	float: left;
	width: 50%;
}

.popbox .popList .popContent .conditionBox .condition-name span {
	display: inline-block;
	padding: .8333rem 1.666rem;
	cursor: pointer;
}

.popbox .popList .popContent .conditionBox .condition-name span.active {
	border-bottom: 2px solid #ccc;
}

.popbox .popList .popContent .conditionBox .condition-name span:hover {
	border-bottom: 2px solid #ccc;
}
.popbox .conditionBox .u-search{
	float: right;
	width: 50%;
	position: relative;
}
.popbox .conditionBox .u-search input{
	width: 100%;
	height: 2.333rem;
	padding: .333rem 1.25rem .333rem .8333rem;
	border:solid 1px #ccc;
}
.popbox .conditionBox .u-search input:focus{
	border:solid 1px #ccc;
}
.popbox .conditionBox .u-search i{
	position: absolute;
	font-size: 1.333rem;
	top: 0.25rem;
	right: 0.25rem;
	color: #3f98e4;
	cursor: pointer;
}
.popbox .popList .popContent .conditionBox .condition-toggle {
	float: right;
	width: 10%;
	padding-top: .3rem;
	/* on */
	/* off */
	/* disabled */
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch {
	display: inline-block;
	position: relative;
	width: 6.08333rem;
	height: 2.333rem;
	border-radius: 2.5rem;
	background: #ddd;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch .lcs_cursor {
	display: inline-block;
	position: absolute;
	top: .25rem;
	width: 1.8333rem;
	height: 1.8333rem;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
	z-index: 10;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch .lcs_label {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 1.5rem;
	color: #fff;
	font-weight: bold;
	position: absolute;
	width: 2.75rem;
	top: .5rem;
	overflow: hidden;
	text-align: center;
	display: none;
	-webkit-transition: all .2s ease-in-out .1s;
	-ms-transition: all .2s ease-in-out .1s;
	transition: all .2s ease-in-out .1s;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_label.lcs_label_on {
	left: -2.916rem;
	z-index: 6;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_label.lcs_label_off {
	right: -2.91666rem;
	z-index: 5;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_on {
	background: #75b936;
	box-shadow: 0 0 2px #579022 inset;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_on .lcs_cursor {
	left: 4rem;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_on .lcs_label_on {
	left: 0.8333rem;
	display: block;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_off {
	background: #b2b2b2;
	box-shadow: 0px 0px 2px #a4a4a4 inset;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_off .lcs_cursor {
	left: .25rem;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_off .lcs_label_off {
	right: .8333rem;
	display: block;
}

.popbox .popList .popContent .conditionBox .condition-toggle .lcs_switch.lcs_disabled {
	opacity: 0.65;
	filter: alpha(opacity = 65);
	cursor: default;
}

.popbox .popList .popContent .p-content {
	border: 1px solid #d2d2d2;
	height: 29.166rem;
}

.popbox .popList .popContent .p-content>div {
	float: left;
	height: inherit;
}

.popbox .popList .popContent .p-content .leftBox {
	width: 70%;
	border-right: 1px solid #d2d2d2;
	position: relative;
}

.popbox .popList .popContent .p-content .leftBox>span.icon-exchange {
	position: absolute;
	right: -1.5rem;
	top: 50%;
	margin-top: -2.166rem;
	padding: .5rem;
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid #ccc;
	z-index: 10;
}

.popbox .popList .popContent .p-content .leftBox>div {
	float: left;
	height: inherit;
}

.popbox .popList .popContent .p-content .leftBox .list01 {
	width: 50%;
	border-right: 1px solid #d2d2d2;
	overflow: auto;
}

.popbox .popList .popContent .p-content .leftBox .list01 li {
	cursor: pointer;
}
.popbox .popList .popContent .p-content .leftBox .list01>li:first-child,
.popbox .popList .popContent .p-content .leftBox .list01>li>ul>li:first-child{
	border:0;
}
.popbox .popList .popContent .p-content .leftBox .list01 li .icon-check-empty:before {
	vertical-align: middle;
}

.popbox .popList .popContent .p-content .leftBox .list01 li:hover {
	cursor: pointer;
}

.popbox .popList .popContent .p-content .leftBox .p-postDiv.list01 {
	display: none;
}
.popbox .popList .popContent .p-content .leftBox .list01,
.popbox .popList .popContent .p-content .leftBox .list02,
.popbox .popList .popContent .p-content .rightBox .list04{
	border-bottom: 2px solid transparent;
}
.popbox .popList .popContent .p-content .leftBox .list02 {
	width: 50%;
	padding: 1rem;
	overflow: auto;
}

.popbox .popList .popContent .p-content .leftBox .list02 li {
	padding: .41666rem 0;
	width: 50%;
	float: left;
	cursor: pointer;
}

.popbox .popList .popContent .p-content .leftBox .list02 li span {
	display: inline-block;
}

.popbox .popList .popContent .p-content .rightBox {
	width: 30%;
}

.popbox .popList .popContent .p-content .rightBox .list04 {
	overflow: auto;
	height: inherit;
	padding: 1rem;
	padding-left: 1.6rem;
}

.popbox .popList .popContent .p-content .rightBox .list04 li {
	padding: .41666rem 0;
	width: 100%;
	float: left;
	cursor: pointer;
}

.popbox .popList .popContent .p-content .rightBox .list04 li span {
	display: inline-block;
}
.popbox .popList .popContent .p-content .rightBox .close{
	font-size: 1.4rem;
	color: #ccc;
	opacity:1;
}
.popbox .popList .popContent .p-content .rightBox .close:hover{
	color:#3f98e4;
}
.popbox .popList .popContent .p-content .rightBox .icon-cancel-circled:before{
	vertical-align: bottom;
}
.popbox .popList .popFooter {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1rem;
}

.popbox .popList .popFooter button {
	padding: .3rem 1.5rem;
}
.icon-check:before,.icon-check-empty:before,.icon-circle-empty:before,.icon-dot-circled:before{
	font-size: 1.3rem;
}
/*# sourceMappingURL=popList.css.map */