<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.common.CommonMapper">

	<select id="querySysConfig" resultType="com.koron.inwlms.bean.VO.common.SysConfigVO">
		SELECT key, value FROM "SM_config"
	</select>
	
     <select id="queryAllDataDic"  parameterType="com.koron.inwlms.bean.DTO.sysManager.DataDicDTO"  resultType="com.koron.inwlms.bean.VO.sysManager.DataDicNewVO">
          select "dic".id as dicId,"dic".parent as "parentCode","dic".cn as "scName","dic".en as "enName","dic".tc as "tcName","dic".remark as description,"dic".key as code,"dic".value as dicValue,"dic".seq as sort
          from "SM_dataDictionary" as "dic"
		  order by "dic".parent
      </select>
	
</mapper>