<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.common.FileMapper">
	<insert id="insertFileData" parameterType="com.koron.inwlms.bean.DTO.common.UploadFileDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		"APP_file"
		("fileName","filePath","fileType","fileSize","storageTime",
		"tId","moduleType","storeName","createBy","createTime","updateBy","updateTime")
		VALUES
		(#{fileName,jdbcType=VARCHAR},
		 #{filePath,jdbcType=VARCHAR},
		 #{fileType,jdbcType=INTEGER},
		 #{fileSize,jdbcType=DOUBLE},
		 #{storageTime,jdbcType=TIMESTAMP},
		 #{tId,jdbcType=INTEGER},
		 #{moduleType,jdbcType=VARCHAR},
		 #{storeName,jdbcType=VARCHAR},
		 #{createBy,jdbcType=VARCHAR},
		 #{createTime,jdbcType=TIMESTAMP},
		 #{updateBy,jdbcType=VARCHAR},
		 #{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<select id="queryFilePath"
		resultType="java.lang.String">
		SELECT PATH FROM "APP_file"
		WHERE ID = #{fileId} AND STATUS = 1
	</select>
	<select id="getAttachmentInfoById"
		resultType="com.koron.inwlms.bean.DTO.common.UploadFileDTO">
		SELECT * FROM "APP_file" WHERE ID = #{fileId} AND STATUS
		= '1'
	</select>
	<delete id="deleteFileById">
		UPDATE "APP_file"
		SET status = 0
		where id = #{fileId}
	</delete>

	<select id="getAttachmentInfoByTid" resultType="com.koron.inwlms.bean.DTO.common.UploadFileDTO">
		SELECT * FROM "APP_file" WHERE T_ID = #{tId} AND STATUS
		= 1
	</select>
</mapper>