<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.inwlms.mapper.common.IndicatorMapper">
	<select id="queryBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="(timeType != null and timeType == 3) or (timeType != null and timeType == 2)">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,b."yearMonth" as "timeId",a."zoneNo"
			from ana_base_month a inner join (
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id
			left join LC_APP_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_base_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryWBBaseIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value, 
			cast(to_char(a."analysisDate", 'YYYYMMDD') as integer ) as "timeId", a."zoneNo"
			from (select code, value,"analysisDate","zoneNo" from ana_zone_balance_day
				where cast(to_char("analysisDate", 'YYYYMMDD') as integer ) &gt;= #{startTime}
				and cast(to_char("analysisDate", 'YYYYMMDD') as integer ) &lt;= #{endTime}
			) a left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value, 
			b."yearMonth" as "timeId", a."zoneNo"
			from ana_zone_balance_month a inner join(
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_zone_balance_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryZoneLossIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value, 
			cast(to_char(a."analysisDate", 'YYYYMMDD') as integer ) as "timeId", a."zoneNo"
			from (select code, value,"analysisDate","zoneNo" from ana_zone_day
				where cast(to_char("analysisDate", 'YYYYMMDD') as integer ) &gt;= #{startTime}
				and cast(to_char("analysisDate", 'YYYYMMDD') as integer ) &lt;= #{endTime}
			) a left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_month a inner join(
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_zone_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a  left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryZoneMoniIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a."analysisDate" as "timeId",a."zoneNo"
			from ana_zone_moni_day a left join lc_app_dim_indicator b on a.code = b.code
			where to_char(a."analysisDate",'YYYYMMDD') &gt;= #{startTime} || ''
			and to_char(a."analysisDate",'YYYYMMDD') &lt;= #{endTime} || ''
		</if>
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_zone_moni_month a inner join(
				select id,"yearMonth" from app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
			where 1 = 1
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_zone_moni_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a left join lc_app_dim_indicator b on a.code = b.code
			where 1 = 1
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryLeakIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a."analysisDate" as "timeId",a."zoneNo"
			from ana_leak_day a left join lc_app_dim_indicator b on a.code = b.code
			where to_char(a."analysisDate",'YYYYMMDD') &gt;= #{startTime} || ''
			and to_char(a."analysisDate",'YYYYMMDD') &lt;= #{endTime} || ''
		</if>
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_leak_month a inner join(
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
			where 1 = 1
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_leak_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a left join lc_app_dim_indicator b on a.code = b.code
			where 1 = 1
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryCompanyIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 2">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a."analysisDate" as "timeId"
			from ana_company_day a left join lc_app_dim_indicator b on a.code = b.code
			where to_char(a."analysisDate",'YYYYMMDD') &gt;= #{startTime} || ''
			and to_char(a."analysisDate",'YYYYMMDD') &lt;= #{endTime} || ''
		</if>
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId"
			from ana_company_month a inner join(
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
			where 1 = 1
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId"
			from (select code,value,year from ana_company_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a left join lc_app_dim_indicator b on a.code = b.code
			where 1 = 1
		</if>
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
	
	<select id="queryZoneApparentIndicData" parameterType="com.koron.inwlms.bean.DTO.common.IndicatorDTO" 
	resultType="com.koron.inwlms.bean.VO.common.IndicatorVO">
		select 
		<if test="timeType != null and timeType == 3">
			a.code,round( a.value/c.precision :: NUMERIC, 2 ) as value,
			b."yearMonth" as "timeId",a."zoneNo"
			from ana_apparent_month a inner join(
				select id,"yearMonth" from lc_app_dim_month
				where "yearMonth" &gt;= #{startTime} 
				and "yearMonth" &lt;= #{endTime}
			) b on a."yearMonth" = b.id 
			left join lc_app_dim_indicator c on a.code = c.code
		</if>
		<if test="timeType != null and timeType == 4">
			a.code,round( a.value/b.precision :: NUMERIC, 2 ) as value,a.year as "timeId",a."zoneNo"
			from (select code,value,year,"zoneNo" from ana_apparent_year where year &gt;= #{startTime} 
			and year &lt;= #{endTime} ) a  left join lc_app_dim_indicator b on a.code = b.code
		</if>
		where 1 = 1
		<if test="codes != null and codes.size > 0">
			and a.code in 
			<foreach item="item" collection="codes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
		<if test="zoneCodes != null and zoneCodes.size > 0">
			and a."zoneNo" in 
			<foreach item="item" collection="zoneCodes" separator="," open="(" close=")" index="">    
				#{item}    
			</foreach> 
		</if>
	</select>
</mapper>