@charset "UTF-8";

body{
	background: #fff;
}
.nav-menu.lihorizontal, .nav-menu.lihorizontal02{
	padding-left: 0;
}
.nav-menu.lihorizontal, .nav-menu.lihorizontal02{
	top: 62px;
}
.iheadtop {
    background-color: #DBECF6;
}
.top>div.col-xs-12{
	padding-right: 0;
    padding-left: 0;
}
.nav-menu>ul{
	background: #e9f3ff;
}
.nav-menu>ul>li>a{
	color: #a9b0b8;
}
.lihorizontal > ul > li.active a{
    color: #62c4c7;
}
.nav-menu.lihorizontal, .nav-menu.lihorizontal02{
	box-shadow: 0 0 0 #ccc;
}
.lihorizontal > ul > li.active, .lihorizontal > ul > li:hover{
	border-bottom:0;
}
.lihorizontal > ul > li:hover a{
 	color: #62c4c7;
 }
.lihorizontal > ul > li ul{
   display:none;
}
.lihorizontal > ul > li:hover ul{
	display:block;
}
