<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koron.permission.mapper.PermissionOuterMapper">

<!--根据登录的用户名查询相关联操作 -->
    <select id="getUserOPList"  parameterType="com.koron.permission.bean.DTO.TblTenantDTO"  resultType="com.koron.permission.bean.VO.UserOperationVO">
       select roleuser.user as userCode,op.code as opCode,op.status as opStatus,op.weight as opWeight,
       op.flag as opFlag,tree.seq as seq,tree.parentmask as parentmask,tree.mask as mask,tree.childmask as childmask,tree.type as type
       from tblrole_op as roleop  
       left join tbloperation as op on  roleop.operation=op.code
       left join tblrole as role on role.code=roleop.role
       left join tblrole_user as roleuser on roleuser.role=role.code
       left join tbltree as tree on tree.foreignkey=op.code
       where roleuser.user=#{_userCode} 
       order by tree.seq
    </select>

<!--根据用户查询角色列表 1.0-->
    <select id="getUserRoleList"   parameterType="com.koron.permission.bean.DTO.TblTenantDTO"  resultType="com.koron.permission.bean.VO.TblRoleVO">
       select role.id as roleId,role.name as roleName,role.code as roleCode,role.status as roleStatus,role.weight as roleWeight,role.app as app,
       role.creator as creator,role.modifier as modifier,role.create_time as create_time,role.modify_time as modify_time
       from tblrole as role 
       left join tblrole_user as roleuser on roleuser.role=role.code
       where roleuser.user=#{_userCode} 
       order by role.create_time desc
    </select>
    
     <!--根据用户查询角色范围列表 1.0-->
    <select id="getUserRangeValueList"  parameterType="com.koron.permission.bean.DTO.TblTenantDTO"  resultType="com.koron.permission.bean.VO.TblRoleRangeValueVO">
      select rangeval.id as id, rangeval.catalogue as catalogue,rangeval.value as value,role.name as roleName
      from tblrole_range_value as rangeval
      left join tblrole as role on role.code=rangeval.role
      left join tblrole_user roleuser on roleuser.role=role.code
      where roleuser.user=#{_userCode} 
    </select>
    
    <!--根据用户是否有该接口的操作权限(还要加上数据范围)1.0-->
    <select id="getOPList"  parameterType="com.koron.permission.bean.DTO.TblOpDTO"  resultType="com.koron.permission.bean.VO.TblOperationVO">
       select op.name as opName,op.flag as opFlag,op.status as opStatus,op.weight as opWeight
       from tbloperation as op
       left join tblrole_op  as roleop on roleop.operation=op.code
       left join tblrole   as role  on role.code=roleop.role
       <!--
       left join tblrole_range_value as rolerangevalue on rolerangevalue.role=role.code
      -->
       left join tblrole_user as roleuser on roleuser.role=role.code
       where op.code=#{opCode} and roleuser.user=#{userCode}
    </select>  
 </mapper>